/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "variables.less";

.buttonCommon {
  color: #fff;
  font-size: inherit;
  height: 22px;
  line-height: 22px;
  margin: 5px 5px 0px 0px;
  padding: 0px 20px;
}

span.buttonSeparator {
  width: 1px;
  border-left: 1px solid @gray;
  margin: 4px 3px 4px 3px;
}

a.browserButton,
span.browserButton,
.browserButton {
  cursor: default;
  display: inline-block;
  line-height: 25px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  color: @buttonColor;
  border-radius: @borderRadius;
  margin: 0 3px;
  text-align: center;
  transition: .1s opacity, .1s background;
  user-select: none;
  -webkit-user-select: none;

  &:not([disabled]):hover {
    color: black;
  }

  &[disabled] {
    opacity: .25;
    pointer-events: none;
  }

  &.smallButton {
    line-height: 18px;
    width: 18px;
    height: 18px;
    font-size: 12px;
  }

  &.newFrameButton {
    font-size: 0px;
    width: 24px;
    height: 100%;
    opacity: 0.5;
    background: url('../img/icon_new_frame.svg') 50% 20% scroll / 20px no-repeat;
    &:hover {
      opacity: 0.8;
    }
  }

  &.menuButton {
    height: auto;
  }

  &.primaryButton,
  &.actionButton,
  &.wideButton,
  &.secondaryButton,
  &.secondaryAltButton,
  &.subtleButton {
    .buttonCommon;
    width: auto;
    height: auto;
  }

  &.primaryButton {
    background: linear-gradient(@braveLightOrange, @braveOrange);
    border: 2px solid transparent;
    border-top: 2px solid @braveLightOrange;
    border-bottom: 2px solid @braveOrange;
    box-shadow: @buttonShadow;
    font-weight: 400;

    &:hover {
      border: 2px solid white;
      color: white;
      cursor: pointer;
    }
  }

  &.actionButton,
  &.wideButton {
    background-color: #4099FF;
  }

  &.wideButton {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
  }

  &.whiteButton {
    background: linear-gradient(white, @lightGray);
    border: 2px solid white;
    box-shadow: @buttonShadow;
    cursor: pointer;
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: @darkGray;
    width: auto;
    padding: 3px 35px;
  }

  &.inlineButton {
    display: inline;
  }

  &.secondaryButton {
    background-color: #eee;
  }

  &.secondaryAltButton {
    background-color: #fff;
    color: @braveOrange;
    border: 1px solid #ccc;
  }

  &.subtleButton {
    background-color: #ccc;
    font-size: 14px;
  }

  &.tactileButton {
    display: block;
    min-width: 80px;
    height: 2em;
    line-height: 2em;
    margin: 0.5em 0;
    vertical-align: middle;
    text-align: center;
    border: solid 1px @braveMediumOrange;
    background: @braveMediumOrange;
    border-radius: @borderRadius;
    color: white;
    box-shadow: @lightBoxShadow;
    padding-left: 1em;
    font-size: 0.9em;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    text-align: left;

    &:hover {
      color: white;
    }
  }
}
