/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "variables.less";

.buttonCommon {
  color: #fff;
  font-size: inherit;
  height: 22px;
  line-height: 22px;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

span.browserButton {
  cursor: default;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 28px;
  font-size: 16px;
  color: @buttonColor;
  border-radius: @borderRadius;
  margin: 0 3px;
  text-align: center;
  transition: .1s opacity, .1s background;
  user-select: none;
  -webkit-user-select: none;

  &:not([disabled]):hover {
    color: black;
  }

  &[disabled] {
    opacity: .25;
    pointer-events: none;
  }

  &.smallButton {
    line-height: 18px;
    width: 18px;
    height: 18px;
    font-size: 12px;
  }

  &.newFrameButton {
    font-family: helvetica;
    font-weight: 100;
    font-size: 26px;
    line-height: 17px;
    width: 16px;
    vertical-align: middle;
  }

  &.primaryButton,
  &.actionButton,
  &.wideButton,
  &.secondaryButton,
  &.subtleButton {
    .buttonCommon;
  }

  &.actionButton,
  &.wideButton,
  &.subtleButton {
    width: auto;
  }

  &.menuButton,
  &.wideButton {
    height: auto;
  }

  &.actionButton,
  &.wideButton {
    background-color: #4099FF;
  }

  &.primaryButton {
    background-color: @braveOrange;
  }

  &.secondaryButton {
    background-color: #eee;
  }

  &.subtleButton {
    background-color: #ccc;
    font-size: 14px;
  }

  &.wideButton {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
  }
}
