/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.downloadItem {
  &:hover {
    height: calc(
      // 15px == fa icons, 6px == margin
      15px + 6px +

      // 36px == downloadInfo
      36px + 6px + 6px +

      // 1px == border
      1px + 1px);

    // 15px == fa icons, 6px == margin
    bottom: calc(15px + 6px);

    .downloadInfo {
      .downloadArrow {
        display: none;
      }
    }

    .downloadProgress {
      bottom: 0;
      height: 47px;
    }
  }

  &:not(:hover) {
    .downloadActions {
      display: none;
    }

    .deleteConfirmation {
      display: none;
    }
  }

  &.deleteConfirmationVisible:hover {
    // magic numbers.
    // TODO: Replace with calc
    height: 110px;
    bottom: 60px;
  }
}
