/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "variables.less";

.findBar {
  background: @findbarBackground;
  border-bottom: 1px solid @lightGray;
  color: @highlightBlue;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;

  .findMatchText {
    margin: 0 10px;
    min-width: 60px;
    text-align: center;
  }

  label {
    color: @mediumGray;
  }

  span.findButton {
    color: @gray;
    border: 1px solid @findbarBackground;
    font-size: 18px;
    margin: 0 2px;

    &:not([disabled]):hover {
      border: 1px solid @gray;
    }

    &.hideButton:not([disabled]):hover {
      background: @chromeControlsWarningBackground;
    }
  }

  .closeButton {
    color: @gray;
    font-size: 22px;
    margin-right: 0;
    transform: rotate(45deg);
  }

  .searchContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .searchStringContainer {
    background: white;
    border-radius: @borderRadius;
    display: inline-block;
    position: relative;

    span {
      color: @gray;
      padding: 0 5px;
    }

    input {
      height: 16px;
      width: 200px;
      margin-right: 5px;
      padding-right: 28px;
      border: none;
    }

    .foundResults {
      color: #555;
      font-size: 10px;
      margin-right: 8px;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  .caseSensitivityContainer {
    input {
      margin-right: 6px;
    }
    color: @gray;
    margin-top: 6px;
  }
}
