/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "variables.less";

.notificationBar {
  background-color: #ffefc0;
  border-bottom: 1px solid #888;
  display: inline-block;
  width: 100%;
  padding: 6px 0;

  .notificationItem {
    padding: 0 12px;
    line-height: 24px;

    .notificationMessage {
      color: #000;
      font-size: 15px;
      margin: auto 0;
    }

    .notificationSecondaryButton {
      background-color: #eee;
    }

    .notificationButton {
      padding: 2px 15px;
      width: auto;
      margin-right: 10px;
    }

    .notificationOptions {
      float: right;
    }

    .notificationSpacer {
      flex-grow: 1;
    }

    label {
      font-size: 15px;
      padding: 0 10px 0 0;
      color: #666;
      cursor: pointer;
    }

    input[type="checkbox"] {
      margin: 0 3px;
    }

    button {
      font-size: 13px;
    }

    .notificationAdvanced {
      color: grey;
      cursor: pointer;
      text-decoration: underline;
      font-size: 13px;
      margin: 5px;
    }
  }
}
