/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@linkColor: #0099CC;
@highlightBlue: #37A9FD;
@borderRadius: 4px;
@borderRadiusTabs: 4px;
@borderRadiusURL: 4px;
@privateTabBackground: #392e54;

@chromePrimary: #F3F3F3;
@chromeSecondary: #d3d3d3;
@chromeTertiary: #c7c7c7;
@chromeText: #555555;

@tabsBackground: #ccc;
@navigationBarBackground: @chromeSecondary;
@navigationBarBackground: white;
@chromeBorderColor: @chromePrimary;
@chromeControlsBackground: #bbb;
@chromeControlsWarningBackground: @chromePrimary;
//@chromeControlsBackground2: @chromeSecondary;
@chromeControlsBackground2: white;
@toolbarBackground: #eee;
@toolbarBorderColor: #ccc;
@menuSelectionColor: #2F7AFB;

@navigatorHeight: 48px;
@defaultSpacing: 12px;
@progressBarColor: #3498DB;
@defaultFontSize: 13px;
@audioColor: @highlightBlue;
@focusUrlbarOutline: @highlightBlue;
@loadTimeColor: @highlightBlue;
@activeTabDefaultColor: @chromePrimary;
@buttonColor: #5a5a5a;
@braveOrange: #FF5000;
@dragSpacing: 50px;

@breakpointNarrowViewport: 600px;
@transitionDuration: 200ms;

@navbarHeight: 36px;
@tabsToolbarHeight: 23px;
@tabPagesHeight: 12px;
@bookmarksToolbarHeight: 23px;
@bookmarksToolbarWithFaviconsHeight: 28px;

@navbarButtonSpacing: 4px;
@navbarButtonWidth: 35px;
@navbarBraveButtonWidth: 23px;
@navbarLeftMarginDarwin: 70px;

@carotRadius: 8px;
@sideBarWidth: 200px;

@gray: rgb(153, 153, 153);
@mediumGray: rgb(101, 101, 101);
@darkGray: rgb(68, 68, 68);

@gray30: rgba(116, 116, 130, 0.3);
@black25: rgba(0, 0, 0, 0.25);
@white60: rgba(255, 255, 255, 0.6);

@insetShadow: inset -5px 0 15px @black25;
