/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "./variables.less";
@import "./button.less";
@import "../node_modules/font-awesome/css/font-awesome.css";

.files {
  padding: 0;
  list-style: none;
}

.files li {
  cursor: pointer;
}

.files .selected {
  color: @highlightBlue;
}

.error {
  color: @errorTextColor;
}

.status-bar {
  margin-bottom: 20px;
}

.status {
  display: inline-block;
  width: 160px;
  font-size: 1.17em;
  font-weight: bold;
}

.button:not(:last-child) {
  display: inline-block;
  padding-right: 20px;
}

.fa {
  display: inline-block;
  width: 20px;
}

.content {
  margin-top: 20px;
}
