/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "./variables.less";
@import "./button.less";
@import "./about/siteDetails.less";

.siteDetailsPage {
  min-width: 704px;

  .siteDetailsPageHeader {
    .headerActions > * {
      display: inline-block;
    }
    .startDownload {
      background: linear-gradient(@braveLightOrange, @braveOrange);
      border: 2px solid transparent;
      border-top: 2px solid @braveLightOrange;
      border-bottom: 2px solid @braveOrange;
      box-shadow: @buttonShadow;
      color: white;
      font-weight: 400;
    }
  }

  .siteDetailsPageContent {
    padding: 0 24px;

    .sortableTable {
      -webkit-user-select: none;
      .num {
        font-size: 11pt;
        font-weight: 800;
        text-align: center;
        width: 154px;
        white-space: nowrap;
      }

      .name {
        font-size: 11pt;
        max-width: 415px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.error {
  color: @errorTextColor;
}

.legalNotice {
  font-size: 9pt;
  margin-top: 15px;
}

.torrentStats {
  margin-right: 10px
}

.content {
  margin-top: 20px;
  height: calc(~"100% - 90px");
}

body {
  height: calc(~"100% - 24px");
}

html,
#appContainer,
#appContainer > div {
  height: 100%;
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.torrentStats span:not(:last-child)::after {
  content: ' • ';
  opacity: 0.7;
  padding-left: 4px;
  padding-right: 4px;
}
