{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "chrome": 60
      }
    }]
  ],
  "plugins": [
    "transform-react-inline-elements",
    "transform-react-constant-elements"
  ]
}
