runtime = electron
target_arch = x64
brave_electron_version = 6.0.1
chromedriver_version = 2.35
target = v6.0.1
disturl=https://brave-laptop-binaries.s3.amazonaws.com/atom-shell/dist/
build_from_source = true
