runtime = electron
target_arch = x64
brave_electron_version = 7.1.5
chromedriver_version = 2.37
target = v7.1.5
disturl=https://brave-laptop-binaries.s3.amazonaws.com/atom-shell/dist/
build_from_source = true
