runtime = electron
target_arch = x64
brave_electron_version = 4.8.1
chromedriver_version = 2.33
target = v4.8.1
disturl=https://brave-laptop-binaries.s3.amazonaws.com/atom-shell/dist/
build_from_source = true
