language: node_js
node_js:
  - "7"
dist: trusty
sudo: required
cache:
  directories:
    - node_modules
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - npm run download-sync-client
script:
  - npm run lint
  - npm run testsuite
notifications:
  slack:
    secure: bDwO2uce5JAZvjrvWj4+/+yEXJAIK4O0RcgUWvZ2IMbi7Q9I89Mw40JmkLWL6x2gWZwxr8+FoLtErJA7RVrsfImjrX+NmMyAB7AydLdrBJtkLozNnuacnhcnBRyp1gGCa1ymxCEXGbgC6onAD3kiJJhggr70T+2lu3IuJYXENhc=
env:
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=unit
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=about
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=app
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=bookmark-components
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=bravery-components
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=contents
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=misc-components
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=navbar-components
  - CXX=g++-4.8 NODE_ENV=test TEST_DIR=tab-components
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - xvfb
      - g++-4.8
      - libgnome-keyring-dev
