<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>AgileBits</string>
	<key>Builder Version</key>
	<string>11601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>1Password</string>
	<key>CFBundleIdentifier</key>
	<string>com.agilebits.onepassword4-safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0 DevMode</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openFromToolbarIcon</string>
				<key>Identifier</key>
				<string>onepassword</string>
				<key>Image</key>
				<string>data/images/toolbar-safari.png</string>
				<key>Label</key>
				<string>1Password</string>
				<key>Palette Label</key>
				<string>1Password</string>
				<key>Popover</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>com.agilebits.onepassword4.safariextensioncompanion</string>
		<string>com.agilebits.onepassword-osx.safariextensioncompanion</string>
	</array>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://*/*adframe*</string>
			<string>https://*/*adframe*</string>
			<string>http://*/*adserver*</string>
			<string>https://*/*adserver*</string>
			<string>http://ads.cnn.com/*</string>
			<string>https://ads.cnn.com/*</string>
			<string>http://*.atdmt.com/*</string>
			<string>https://*.atdmt.com/*</string>
			<string>http://*.doubleclick.com/*</string>
			<string>https://*.doubleclick.com/*</string>
			<string>http://*.doubleclick.de/*</string>
			<string>https://*.doubleclick.de/*</string>
			<string>http://*.doubleclick.net/*</string>
			<string>https://*.doubleclick.net/*</string>
			<string>http://*.ak.fbcdn.net/*</string>
			<string>https://*.ak.fbcdn.net/*</string>
			<string>https://plusone.google.com/*</string>
			<string>http://platform.twitter.com/widgets/*</string>
			<string>https://platform.twitter.com/widgets/*</string>
			<string>http://*.facebook.com/widgets/*</string>
			<string>https://*.facebook.com/widgets/*</string>
			<string>http://*.facebook.com/plugins/*</string>
			<string>https://*.facebook.com/plugins/*</string>
			<string>http://*.facebook.com/extern/*</string>
			<string>https://*.facebook.com/extern/*</string>
			<string>http://stats.complex.com/*</string>
			<string>https://stats.complex.com/*</string>
			<string>http://*.addthis.com/static/*</string>
			<string>https://*.addthis.com/static/*</string>
			<string>http://vitamine.networldmedia.net/*</string>
			<string>https://vitamine.networldmedia.net/*</string>
			<string>http://api.tweetmeme.com/*</string>
			<string>https://api.tweetmeme.com/*</string>
			<string>http://*.atwola.com/*</string>
			<string>https://*.atwola.com/*</string>
			<string>http://engine.adzerk.net/*</string>
			<string>https://engine.adzerk.net/*</string>
			<string>http://*.stumbleupon.com/badge/*</string>
			<string>https://*.stumbleupon.com/badge/*</string>
			<string>http://*.bizographics.com/collect/*</string>
			<string>https://*.bizographics.com/collect/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>data/src/brain/OPUtils.js</string>
				<string>data/src/brain/OPFormManager.js</string>
				<string>data/src/brain/OPPageDetails.js</string>
				<string>data/src/brain/OPLogin.js</string>
				<string>data/src/perform_in_global.js</string>
				<string>data/src/common.js</string>
				<string>data/src/end.js</string>
				<string>data/src/execute_fill_script.js</string>
				<string>data/src/end_autosave.js</string>
				<string>data/src/end_autosubmit.js</string>
				<string>data/src/html_utils/label.js</string>
				<string>data/src/html_utils/fill_field.js</string>
				<string>data/src/html_utils/form_info.js</string>
				<string>data/src/collect_fields.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>data/ui/injected.css</string>
			<string>data/ui/fillStyle.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Easy Access to Your Logins, Credit Cards and Identities</string>
	<key>DeveloperIdentifier</key>
	<string>2BUA8C4S2C</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://agilebits.com/ThisIsSetByRake</string>
	<key>Website</key>
	<string>https://agilebits.com/onepassword</string>
</dict>
</plist>
