/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 200;
    src: url(./Muli-v11/Muli_200_italic_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 200;
    src: url(./Muli-v11/Muli_200_italic_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 200;
    src: url(./Muli-v11/Muli_200_italic_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300;
    src: url(./Muli-v11/Muli_300_italic_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300;
    src: url(./Muli-v11/Muli_300_italic_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300;
    src: url(./Muli-v11/Muli_300_italic_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: url(./Muli-v11/Muli_400_italic_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: url(./Muli-v11/Muli_400_italic_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: url(./Muli-v11/Muli_400_italic_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 600;
    src: url(./Muli-v11/Muli_600_italic_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 600;
    src: url(./Muli-v11/Muli_600_italic_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 600;
    src: url(./Muli-v11/Muli_600_italic_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: url(./Muli-v11/Muli_700_italic_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: url(./Muli-v11/Muli_700_italic_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: url(./Muli-v11/Muli_700_italic_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 800;
    src: url(./Muli-v11/Muli_800_italic_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 800;
    src: url(./Muli-v11/Muli_800_italic_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 800;
    src: url(./Muli-v11/Muli_800_italic_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 900;
    src: url(./Muli-v11/Muli_900_italic_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 900;
    src: url(./Muli-v11/Muli_900_italic_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 900;
    src: url(./Muli-v11/Muli_900_italic_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: url(./Muli-v11/Muli_200_normal_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: url(./Muli-v11/Muli_200_normal_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: url(./Muli-v11/Muli_200_normal_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: url(./Muli-v11/Muli_300_normal_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: url(./Muli-v11/Muli_300_normal_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: url(./Muli-v11/Muli_300_normal_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(./Muli-v11/Muli_400_normal_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(./Muli-v11/Muli_400_normal_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(./Muli-v11/Muli_400_normal_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    src: url(./Muli-v11/Muli_600_normal_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    src: url(./Muli-v11/Muli_600_normal_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    src: url(./Muli-v11/Muli_600_normal_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url(./Muli-v11/Muli_700_normal_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url(./Muli-v11/Muli_700_normal_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url(./Muli-v11/Muli_700_normal_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: url(./Muli-v11/Muli_800_normal_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: url(./Muli-v11/Muli_800_normal_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: url(./Muli-v11/Muli_800_normal_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    src: url(./Muli-v11/Muli_900_normal_19882c2c7f40473fb6ffcf2c9ae29c9d_vietnamese_v11.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    src: url(./Muli-v11/Muli_900_normal_78f97281f840d609aa7d345caef392c5_latin-ext_v11.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    src: url(./Muli-v11/Muli_900_normal_bfa3a4d70cc392ea9c1260963baae6ed_latin_v11.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
