.ad-hideable,
.ad-div,
.masthead-ad-control,
.video-ads,
#ad_creative_3,
#footer-ads,
#watch7-sidebar-ads,
.ytp-ad-progress-list,
.ad-container,
#video-masthead,
#watch-channel-brand-div,
#Billboard-ad,
div[id^=my-ads] {
  display: none !important;
}

/* CoinMarketCap Ads */
link[href*='files.coinmarketcap.com'] ~ #icobanner-wrapper,
link[href*='files.coinmarketcap.com'] ~ .container #leaderboard,
link[href*='files.coinmarketcap.com'] ~ .container #leaderboard-bottom {
  display: none !important;
}

/* YouTube Masthead and Sidebar Ads */
#player-ads.ytd-watch,
ytd-page-manager #masthead-ad.ytd-browse {
  display: none !important;
}
