@import "./itemList.less";

.bookmarksPage {
  margin: 20px;

  .bookmarkPageContent {
    border-top: 1px solid @chromeBorderColor;
    display: flex;

    .bookmarkList {
      padding-top: 10px;
      overflow: hidden;

      .listItem {
        display: flex;
        height: 1rem;

        .aboutListItem {
          align-items: center;
          min-width: 0;
        }
      }
    }

    .bookmarkFolderList {
      min-width: 220px;

      .listItem {
        border-right: 1px solid @chromeBorderColor;
        height: 1rem;
      }

      .bookmarkFolderIcon {
        margin-right: 5px;
      }
    }

    .sticky-outer-wrapper {
      min-width: 220px;
      padding-top: 10px;
    }
  }
}

.bookmarkFolderList list >* {
  padding-left: 12px;
}

.searchInput {
    float: right;
    padding: 5px;
    margin-top: -35px;
}