@import "./siteDetails.less";

.siteDetailsPage {
  min-width: 704px;

  .siteDetailsPageContent {
    &.aboutAbout {
      .sortableTable {
        -webkit-user-select: text;
        margin-left: @aboutPageSectionPadding;
        width: 400px;
        td {
          cursor: auto;
          padding-left: 8px;
        }
      }
      ul {
        margin-left: @aboutPageSectionPadding + @aboutPageSectionPadding;
      }
    }
    .sortableTable {
      -webkit-user-select: none;
      // Time visited
      .time {
        font-size: 11pt;
        font-weight: 800;
        text-align: center;
        width: 154px;
        white-space: nowrap;

        // Delete button
        .deleteEntry {
          display: none;
        }
        &:hover .deleteEntry{
          color: @gray;
        }
      }

      // Entry title
      .title {
        font-size: 11pt;
        max-width: 415px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      // Entry domain
      .domain {
        font-size: 11pt;
      }

      td {
        &:nth-of-type(2) {
          width: 60%;
        }
      }
    }
  }
}
