@import "./common.less";

strong, div, span, li, em, p, a {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  background: @veryLightGray;
}

.notImplemented {
  display: none !important; /* for testing/debug only */
}

.sectionTitle {
  color: @darkGray;
  cursor: default;
  font-size: 1.2em;
  margin-bottom: 0.7em;
  -webkit-user-select: none;
}

.prefTabContainer {
  .sectionTitleWrapper {
    position: relative;
    margin-right: 49px;
    min-height: 40px;
    min-width: 240px;

    .sectionTitle {
      color: @braveOrange;
      font-size: 28px;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .sectionSubTitle {
      color: #999;
      font-size: 15px;
      position: absolute;
      bottom: 25px;
      right: 19px;
    }
  }

  flex-grow: 1;
  padding: 40px;
  min-width: 704px;

  > div {
    > .column {
      width: 340px;

      &.gutter {
        border-left: solid 1px @lightGray;
        padding-left: 40px;
      }
      > div .settingsList {
        margin: 2.5em 0 1em;
      }
      > div:first-of-type {
        .settingsList {
          margin: 1em 0;
        }
      }
    }
    > .settingsListTitle {
      color: @braveOrange;
      font-size: 1.125em;
      margin-bottom: 1.25em;
      margin-top: 0;
    }
  }
}

.prefBody {
  display: flex;
  height: 100%;
  margin-left: @sideBarWidth;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.settingsListContainer {
  margin-bottom: 2em;
}

.settingsListTitle,
.settingsListCopy,
.settingsListLink,
.settingsList .settingItem span:not(.browserButton),
.settingsList em,
.settingsList .subtext {
  color: @darkGray;
  font-size: 0.9em;
  margin: 1.2em 2px 7px;
}

.settingsList .subtext {
  &.flashText {
    margin-top: 0;

    .flashInfoIcon {
      cursor: pointer;
      padding: 5px;
    }
  }
}

.settingsListCopy {
  color: @braveOrange;
  cursor: pointer;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 1em;

  &.alt {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }
}
span.settingsListCopy {
  background-color: @lightGray;
}

.settingsListLink {
  color: @braveOrange;
  font-size: 1em;

  &.alt {
    color: black;
    text-decoration: underline;
  }
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.settingsList {
  .settingItem {
    > *:not(.switchControl) {
      margin-bottom: 10px;
      min-width: 160px;
      vertical-align: middle;
    }

    .switchControl {
      min-width: 54px;
    }

    span:not(.browserButton) {
      display: block;
      padding-right: 10px;
    }

    label {
      text-align: left;
      font-size: 0.95em;
    }

    span.linkText {
      text-align: left;
      display: inline;
      margin-left: 10px;
    }

    input[type="number"] {
      width: 50px;
      min-width: 50px;
    }

    select[disabled] {
      color: #ccc
    }

    .checkboxContainer {
      width: 100px;
    }

    .manageAdblockSettings {
      margin-top: 1em;
    }
  }

  .subtext {
    font-size: 0.95em;
  }

  .iconTitle {
    margin: 1.2em 2px 7px;
    color: #444444;
    font-size: 0.9em;

    span {
      display: inline-block;
    }

    .iconLink {
      margin-left: 5px;
      cursor: pointer;
      vertical-align: middle;
    }
  }
}

input[type="checkbox"][disabled] {
  opacity: 0.8;
  pointer-events: none;
}

.linkText {
  display: inline-block;
  text-decoration: underline;
  color: @braveOrange;
  cursor: pointer;
  margin: 0;

  &:hover {
    color: #000;
  }
}

.linkTextSmall {
  .linkText;
  font-size: 14px;
}

.permissionItem {
  color: grey;
}

.permissionName {
  font-weight: 600;
}

.clearAll {
  cursor: pointer;
  color: @gray;
}

.clearAllLink {
  text-decoration: underline;
  color: @gray;
}

.permissionStatus {
  font-style: italic;
}

.sitePermissions {
  font-size: 16px;
  list-style: none;
  margin: 20px;
  ul {
    margin-bottom: 10px;
  }
}

.permissionAction {
  color: @braveOrange;
  padding: 3px;
}

table.sortableTable {
  width: 704px;

  tbody td:first-of-type {
    text-align: center;
    color: @braveOrange;
    font-weight: 800;
  }

  .default {
    width: 95x;
  }
  .searchEngine {
    width: 304px !important;
    padding-left: 10px;
  }
  .engineGoKey {
    padding-left: 4px;
    width: 250px;
  }
}

// about:preferences#payments
.paymentsContainer {
  // General properties on about:preferences#payments.
  // Make sure any change here could cause unexpected regressions.
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  th {
    color: @darkGray;
    font-weight: 600;
  }

  & > table,
  & > table tbody {
    border: none;
    padding: 50px;
    margin: 0 auto;
    width: 80%;
  }

  // This defines the styling of modal dialogs on "Add funds..." and "Advanced Settings..."
  .modal {
    .dialog {
      background: linear-gradient(@modalVeryLightGray, @modalLightGray);
      border-radius: @borderRadiusModal;

      // Specific properties of the Coinbase overlay displayed by clicking "Fund with debit/credit"
      &.coinbaseOverlay {
        background: transparent;

        .dialog-body {
          height: 100%;
          width: 100%;
        }
      }

      // Specific properties of the Payment History
      &.paymentHistory {
        .dialog-footer {
          padding: 20px 30px;
        }

        .dialog-body {
          background: #FFF;
          height: 300px;
          overflow-y: auto;
          padding-right: 0;
          padding-left: 0;
        }

        .dialog-footer {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      // General properties of the header on the modal dialogs
      .dialog-header {
        .sectionTitle {
          margin-bottom: 0;
          padding: 25px 0; // text-indent / 2
        }
      }

      // General properties of the body on the modal dialogs
      .dialog-body {
        .bitcoinDashboard {
          .modal {
            .qrcodeOverlay {
              border: 0;
              width: 350px;
              height: auto;
              margin: 100px auto 0 auto;
              background: white;
              box-shadow: @dialogShadow;

              &.fade {
                transition: @transitionFast;
              }

              .dialog-body {
                padding: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.board {
  overflow-x: hidden;
  clear: both;

  .panel {
    background: #FFFFFF;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 25px 20px;

    #bitcoinPaymentURL {
      cursor: pointer;
      background-color: @lightGray;
      &:hover {
        background-color: @gray;
      }
      font-size: 0.9em;
    }

    .settingsListTitle {
      color: @darkGray;
      font-weight: bold;
      font-size: 15px;
      margin: 0;

      &.subTitle {
        clear: both;
        font-weight: normal;
        font-size: 14px;
        font-style: italic;
        line-height: 1.3em;
        margin-top: 20px;
      }
    }

    span {
      display: inline;
    }
    a {
      text-decoration: none;
    }

    button > a {
      color: #fff;
    }

    .labelText {
      clear: both;
      font-size: 1em;
      color: @braveOrange;
      margin-bottom: 5px;
    }

    .primaryButton {
      min-width: 180px;
    }

    &:after {
      content:" ";
      display:block;
      clear:both;
    }

    .ledgerBackupContent {
      width: 75%;
      margin: 0 auto;
      display: block;
      line-height: 1.3em;
      margin-bottom: 60px;
    }
  }

  .panelFooter {
    color: @darkGray;
    font-size: 13px;
    font-style: italic;
    padding: 20px 20px 20px 50px;
  }

  &.contrast {
    background: @highlightBlue;
    color: white;

    * {
      color: white;
    }
  }

  .disabledPanel {
    div:nth-of-type(2) {
      padding: 15px 0;
    }
  }
}

#searchSelectIcon {
  width: 16px;
  height: 16px;
  color: @braveOrange;
}

.prefTabContainer .switchControl {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  &.disabled {
    .switchBackground {
      opacity: 0.3;
    }
    .switchControlRightText, .switchControlLeftText {
      opacity: 0.3;
    }
    cursor: default;
  }

  &:not(.disabled) {
    .switchBackground.switchedOn {
      background-color: @switchBG_on;
      .switchIndicator {
        right: 2px;
      }
    }
  }

  &.large {
    .switchBackground {
      height: 26px;
      width: 60px;
      .switchIndicator {
        height: 22px;
        width: 22px;
      }
    }
  }

  &.small {
    .switchBackground {
      height: @smallSwitchHeight;
      width: @smallSwitchWidth;
      .switchIndicator {
        height: @smallSwitchNubDiameter;
        width: @smallSwitchNubDiameter;
        top: 1px;
        right: calc(@smallSwitchWidth - @smallSwitchNubDiameter - @switchNubRightMargin);
      }
    }
  }

  > label {
    vertical-align: middle;
  }

  .switchControlText {
    margin: auto 0;
  }

  .switchControlLeftText {
    margin: auto 5px auto 0;
  }

  .switchControlRightText {
    margin: auto 0 auto 5px;
  }

  .switchControlTopText {
    margin: 0 auto 5px auto;
  }

  .switchControlRight {
    display: flex;
  }

  .switchMiddle {
    display: flex;
    flex-direction: column;
  }

  .switchBackground {
    background-color: @switchBG_off;
    border-radius: 12px;
    height: @switchHeight;
    position: relative;
    width: @switchWidth;
    box-shadow: @switchShadow;

    .switchIndicator {
      background-color: white;
      border-radius: 100%;
      height: @switchNubDiameter;
      position: absolute;
      top: @switchNubTopMargin;
      width: @switchNubDiameter;
      box-shadow: @switchNubShadow;
    }
  }
}

.moreExtensionsComingSoon {
  padding-top: 10px;
  font-style: italic;
}

.widevineInfo {
  line-height: 1.3em;

  .fa-info-circle {
    margin-left: 5px;
    cursor: pointer;
  }
}

.syncContainer {
  .modal {
    textarea {
      width: 80%;
      height: 100px;
      font-size: 18px;
      font-family: monospace;
    }
    li {
      margin: 1em;
    }
    .settingsListContainer {
      margin-bottom: 1.5em;
    }
    .dialog-body, .dialog-footer {
      padding-left: 50px;
      padding-right: 50px;
    }
    .dialog-footer {
      margin-top: 1.5em;
      padding-bottom: 2em;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .browserButton + .browserButton {
    margin-left: 0.75em;
  }
  .setupContent {
    margin: 1em 0;
  }
  .deviceNameInput {
    width: 50%;
  }
  .device {
    background-color: @lightGray;
    border-radius: @borderRadiusUIbox;
    color: @mediumGray;
    display: table;
    line-height: 1.8em;
    margin: 1em 0;
    padding: 0.5em 1em;
    width: 500px;
    & > div, .settingItem {
      display: table-cell;
      vertical-align: middle;
    }
    #syncEnableSwitch {
      width: 50%;
    }
    .syncDeviceLabel {
      font-size: 0.9em;
      margin: 0;
    }
    .deviceName {
      margin-bottom: 0.5em;
    }
  }
}

#syncPassphrase {
  margin: 1em;
  color: #ff0400;
  font-size: 15px;
  font-family: monospace;
}

#syncQR {
  margin: 1em;
}

.requiresRestart {
  font-style: italic;
  margin-bottom: 2em;
}
