@import "./common.less";

strong, div, span, li, em, p, a {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  background: @veryLightGray;
}

.notImplemented {
  display: none !important; /* for testing/debug only */
}

.sectionTitle {
  color: @darkGray;
  cursor: default;
  font-size: 1.2em;
  margin-bottom: 0.7em;
  -webkit-user-select: none;
}

.prefTabContainer {
  .sectionTitleWrapper {
    position: relative;
    margin-right: 49px;
    min-height: 40px;
    min-width: 240px;

    .sectionTitle {
      color: @braveOrange;
      font-size: 28px;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .sectionSubTitle {
      color: @braveOrange;
      font-size: 15px;
      position: absolute;
      bottom: 25px;
      right: 19px;
    }
  }

  flex-grow: 1;
  padding: 40px;
  min-width: 704px;

  > div {
    > .column {
      width: 340px;

      &.gutter {
        border-left: solid 1px @lightGray;
        padding-left: 40px;
      }
      > div .settingsList {
        margin: 2.5em 0 1em;
      }
      > div:first-of-type {
        .settingsList {
          margin: 1em 0;
        }
      }
    }
    > .settingsListTitle {
      color: @braveOrange;
      font-size: 1.125em;
      margin-bottom: 1.25em;
      margin-top: 0;
    }
  }
}

.prefAside {
  background: linear-gradient(@gray, @mediumGray);
  box-shadow: @insetShadow;
  position: fixed;
  z-index: 600;
  width: @sideBarWidth;
  height: 100%;

  > div {
    display: block;
    width: 100%;

    &:first-of-type {
      box-sizing: border-box;
      margin: 20px auto;
      padding-left: 20px;
      color: @white50;
      font-size: 0.9em;
      font-weight: 300;
    }

    &:hover {
      .topBarButton.fa {
        background-color: @darkGray;
        cursor: pointer;
      }
    }

    .topBarButton.fa {
      display: flex;
      align-items: center;
      width: 100%;
      background: transparent;
      padding: 10px 0 0 20px;
      -webkit-user-select: none;

      &:before,
      &::before {
        content: none;
      }

      > i {
        display: block;
        width: 28px;
        height: 28px;

        &.i-list-alt {
          background: url('../../img/list.svg') 0 0 / contain no-repeat;
          margin: 3px -2px 0px 2px;
        }
        &.i-search {
          background: url('../../img/search.svg') 0 0 / contain no-repeat;
          margin: 1px -1px 0px 1px;
        }
        &.i-bookmark-o {
          background: url('../../img/bookmark.svg') 0 0 / contain no-repeat;
          margin: 0px 1px -8px -1px;
        }
        &.i-lock {
          background: url('../../img/lock.svg') 0 0 / contain no-repeat;
          margin: 0px -4px 0px 4px;
        }
        &.i-user {
          background: url('../../img/shields.svg') 0 0 / contain no-repeat;
          margin: -3px -1px 0px 1px;
        }
        &.i-bitcoin {
          background: url('../../img/bitcoin.svg') 0 0 / contain no-repeat;
        }
        &.i-refresh {
          background: url('../../img/refresh.svg') 0 0 / contain no-repeat;
        }
        &.i-server {
          background: url('../../img/advanced.svg') 0 0 / contain no-repeat;
        }
        &.i-brave-sync {
          background: url('../../img/sync.svg') 0 0 / contain no-repeat;
        }
      }

    }
    &.selected {
      .topBarButton.fa {
        background-color: @mediumGray;
      }
      .tabMarker {
        border-top-color: @mediumGray;
      }
    }
  }
}

.topBarButton.fa {
  box-sizing: border-box;
  color: white;
  cursor: default;
  display: inline-block;
  font-size: 22px;
  padding: 0;
  position: relative;
  width: 40px;
  height: 50px;

  &:before {
    display: flex;
    justify-content: center;
    width: 20px;
  }

}

.prefBody {
  display: flex;
  height: 100%;
  margin-left: @sideBarWidth;
}

.tabMarkerContainer {
  position: relative;

  .tabMarker {
    border-left: @carotRadius solid transparent;
    border-right: @carotRadius solid transparent;
    border-top: @carotRadius solid @gray;
    height: 0;
    left: ~"calc(100% - 6px)";
    transform: rotateZ(-90deg);
    position: absolute;
    width: 0;
    top: -27px;
  }
}

.tabMarkerText {
  display: inline-block;
  color: white;
  font-size: 0.7em;
  height: 28px;
  margin-top: 3px;

  &:before {
    display: inline-block;
  }
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.settingsListContainer {
  margin-bottom: 2em;
}

.settingsListTitle,
.settingsListCopy,
.settingsListLink,
.settingsList .settingItem span:not(.browserButton),
.settingsList em,
.settingsList .subtext {
  color: @darkGray;
  font-size: 0.9em;
  margin: 1.2em 2px 7px;
}

.settingsList .subtext {
  &.flashText {
    margin-top: 0;

    .flashInfoIcon {
      padding: 5px;
    }
  }
}

.settingsListCopy {
  color: @braveOrange;
  cursor: pointer;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 1em;

  &.alt {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }
}
span.settingsListCopy {
  background-color: @lightGray;
}

.settingsListLink {
  color: @braveOrange;
  font-size: 1em;

  &.alt {
    color: black;
    text-decoration: underline;
  }
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.settingsList {
  .settingItem {
    > *:not(.switchControl) {
      margin-bottom: 10px;
      min-width: 160px;
      vertical-align: middle;
    }

    .switchControl {
      min-width: 54px;
    }

    span:not(.browserButton) {
      display: block;
      padding-right: 10px;
    }

    label {
      text-align: left;
      font-size: 0.95em;
    }

    span.linkText {
      text-align: left;
      display: inline;
      margin-left: 10px;
    }

    input[type="number"] {
      width: 50px;
      min-width: 50px;
    }

    select[disabled] {
      color: #ccc
    }

    .checkboxContainer {
      width: 100px;
    }

    .manageAdblockSettings {
      margin-top: 1em;
    }
  }

  .subtext {
    font-size: 0.95em;
  }

  .iconTitle {
    margin: 1.2em 2px 7px;
    color: #444444;
    font-size: 0.9em;

    span {
      display: inline-block;
    }

    .iconLink {
      margin-left: 5px;
      cursor: pointer;
      vertical-align: middle;
    }
  }
}

input[type="checkbox"][disabled] {
  opacity: 0.8;
  pointer-events: none;
}

.linkText {
  display: inline-block;
  text-decoration: underline;
  color: @braveOrange;
  cursor: pointer;
  margin: 0;

  &:hover {
    color: #000;
  }
}

.linkTextSmall {
  .linkText;
  font-size: 14px;
}

.permissionItem {
  color: grey;
}

.permissionName {
  font-weight: 600;
}

.clearAll {
  cursor: pointer;
  color: @gray;
}

.clearAllLink {
  text-decoration: underline;
  color: @gray;
}

.permissionStatus {
  font-style: italic;
}

.sitePermissions {
  font-size: 16px;
  list-style: none;
  margin: 20px;
  ul {
    margin-bottom: 10px;
  }
}

.permissionAction {
  color: @braveOrange;
  padding: 3px;
}

table.sortableTable {
  width: 704px;

  tbody td:first-of-type {
    text-align: center;
    color: @braveOrange;
    font-weight: 800;
  }

  .default {
    width: 95x;
  }
  .searchEngine {
    width: 304px !important;
    padding-left: 10px;
  }
  .engineGoKey {
    padding-left: 4px;
    width: 250px;
  }
}

// about:preferences#payments
.paymentsContainer {
  @fontSize: 14.5px; // .form-control

  @walletBarTableRowWidth: 235px;
  @walletBarTableData: @walletBarTableRowWidth + 30px; // .walletBar td (min-width + padding)
  @walletBarMargin: 15px;
  @walletBarItemMargin: 12px;
  @walletBarPadding: @walletBarItemMargin * 1.5;

  position: relative;
  overflow-x: hidden;
  width: 805px;

  // General properties on about:preferences#payments.
  // Make sure any change here could cause unexpected regressions.
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  th {
    color: @darkGray;
    font-weight: 600;
  }

  & > table,
  & > table tbody {
    border: none;
    padding: 50px;
    margin: 0 auto;
    width: 80%;
  }

  // This defines the styling of modal dialogs on "Add funds..." and "Advanced Settings..."
  .modal {
    .dialog {
      background: linear-gradient(@modalVeryLightGray, @modalLightGray);
      border-radius: @borderRadiusModal;

      // Specific properties of the Coinbase overlay displayed by clicking "Fund with debit/credit"
      &.coinbaseOverlay {
        background: transparent;

        .dialog-body {
          height: 100%;
          width: 100%;
        }
      }

      // Specific properties of the Payment History
      &.paymentHistory {
        @padding-horizontal: 30px;

        .dialog-header,
        .dialog-footer {
          padding: 20px @padding-horizontal;
        }

        .dialog-header {

          .sectionTitle {
            margin-bottom: 0;
            padding: 0;
            color: @braveMediumOrange;
            text-indent: 0;
          }
        }

        .dialog-body {
          background: #FFF;
          height: 300px;
          overflow-y: scroll;
          padding-right: 0;
          padding-left: 0;

          .paymentHistoryTable {
            background-color: #FFF;

            table {
              border-spacing: 0;
              margin-top: 1em;
              margin-bottom: 1em;

              tr {

                &:first-child {
                  td {
                    padding-top: .5em;
                  }
                }

                th,
                td {
                  &:first-child {
                    padding-left: @padding-horizontal;
                  }

                  &:last-child {
                    padding-right: @padding-horizontal;
                  }
                }

                th {
                  color: @darkGray;
                  font-weight: 500;
                  border-bottom: 2px solid @lightGray;
                  width: 18%;
                  padding-bottom: .25em;
                }

                td {
                  white-space: nowrap;
                  height: 1.5em;
                  padding: .125em;

                  &.narrow {
                    color: @darkGray;
                  }

                  &.wide {
                    color: #777;
                  }
                }
              }
            }
          }
        }

        .dialog-footer {
          padding-top: 10px;
          padding-bottom: 10px;

          .paymentHistoryFooter {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nextPaymentSubmission {
              font-size: 14px;
            }
          }
        }
      }

      // General properties of the header on the modal dialogs
      .dialog-header {
        .sectionTitle {
          margin-bottom: 0;
          padding: 25px 0; // text-indent / 2
        }
      }

      // General properties of the body on the modal dialogs
      .dialog-body {
        .board {
          .panel {
            @margin-bottom-header: .5em;

            // This removes the margin which increases the size of the dialog-header
            &:first-child {
              margin-top: 0;
            }

            // This removes the margin which increases the size of the dialog-footer
            &:last-child {
              margin-bottom: 0;
            }

            // This makes the width of the content on Advanced Settings consistent
            &.advancedSettings,
            &.ledgerBackupContent,
            &.recoveryContent {
              padding-left: 50px;
              padding-right: 50px;
            }

            &.advancedSettings {
              display: flex;
              flex-wrap: nowrap;

              select {
                width: 100%;
              }

              .settingsPanelDivider {
                width: 100%;

                // This defines select elements on Advanced Settings (left side)
                &:first-child {
                  .minimumPageTimeSetting,
                  .minimumVisitsSetting {
                    margin-bottom: @margin-bottom-header;
                  }

                  .settingsListContainer:last-child {
                    margin-bottom: 0;
                  }
                }

                // This defines switches on Advanced Settings (right side)
                // "position: relative" and "left: 1em" create the margin between select elements and switches.
                // "margin-left: 1em" decreases the width of the left side, so it should not be used here.
                &:last-child {
                  display: flex;
                  align-items: center;
                  width: auto;
                  position: relative;
                  left: 1em;

                  .settingsListContainer:last-child {
                    margin-bottom: 0;

                    .settingsList {
                      display: flex;
                      flex-flow: column nowrap;
                      justify-content: space-between;

                      .settingItem {
                        display: flex;
                        margin-bottom: 1em;

                        &:last-child {
                          margin-bottom: 0;
                        }

                        label {
                          margin-bottom: 0;
                        }

                        .switchControl {
                          margin-top: 2px;
                          padding-top: 0;
                          padding-bottom: 0;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.ledgerBackupContent {
              .copyKeyContainer {
                display: flex;
                align-items: flex-end;
                width: 75%;
                margin: 20px auto;

                .copyContainer {
                  .copyButton {
                    font-size: 14px;
                    margin: 0;
                  }
                }

                .keyContainer {
                  margin-left: 2em;

                  h3 {
                    margin-bottom: @margin-bottom-header;
                  }

                  > span {
                    white-space: nowrap;
                  }
                }
              }
            }

            &.recoveryContent {
              h4,
              .ledgerRecoveryContent {
                margin-bottom: 20px;

                & + .settingsListContainer {
                  margin-bottom: 0;

                  h3 {
                    margin-bottom: @margin-bottom-header;
                  }
                }
              }
            }
          }

          // This defines styling of the overlay on "Recover your wallet"
          .recoveryOverlay {
            background-color: @black75;
            border: 1px solid @black75;
            position: absolute;
            top: -1px;
            left: -1px;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 999;

            h1,
            p {
              color: white;
            }

            h1 {
              margin-top: 120px;
            }

            .spaceAround {
              margin: 50px auto;
            }
          }
        }

        .bitcoinDashboard {
          .coinbaseLogo {
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-right: 10px;
            background: url('../../app/extensions/brave/img/coinbase_logo.png') 0 0 / contain no-repeat;
          }

          .modal {
            .qrcodeOverlay {
              border: 0;
              width: 350px;
              height: auto;
              margin: 100px auto 0 auto;
              background: white;
              box-shadow: @dialogShadow;

              &.fade {
                transition: @transitionFast;
              }

              img {
                clear: both;
                display: block;
                margin: 0 auto;
              }

              .dialog-header {}

              .dialog-body {
                padding: 30px;

                .bitcoinQRTitle {
                  color: @braveOrange;
                  text-align: center;
                }
              }

              .dialog-footer {

                // This defines styling of the footer on the modal dialog of "Display QR code"
                .qrcodeOverlayFooter {
                  display: flex;
                  justify-content: center;
                  background: @gray;
                  padding: 15px 0;

                  .appstoreLogo,
                  .playstoreLogo {
                    width: 130.5px;
                    height: 42.75px;
                    display: inline-block;
                  }

                  .appstoreLogo {
                    background: url('../../app/extensions/brave/img/ios_download.svg');
                    background-size: 130.5px 42.75px;
                    margin-right: 5px;
                  }

                  .playstoreLogo {
                    background: url('../../app/extensions/brave/img/android_download.svg');
                    background-size: 130.5px 42.75px;
                  }
                }
              }
            }
          }

          .board {

            // This defines styling of the three rows on the dialog of "Add funds..."
            &.addFundsBoard {
              .panel {
                display: flex;
                padding-left: 100px;

                // 1st row (credit card)
                &:nth-child(1) {
                  margin-top: 0;
                }

                // 2nd row (bitcoin address)
                &:nth-child(2) {

                  .settingsPanelDivider {
                    .hasBitcoinHandler {
                      display: flex;
                      flex-flow: column;
                      align-items: flex-end;
                    }
                  }
                }

                // 3rd row (mobile phone)
                &:nth-child(3) {
                  margin-bottom: 0;

                  .settingsPanelDivider {
                    justify-content: center; // align the mobile phone icon and the label vertically
                  }
                }

                // This defines the styling inside each of those rows
                .settingsPanelDivider {
                  width: 50%;
                  position: relative;
                  display: flex;
                  flex-flow: column;

                  // left side (descriptions)
                  &:first-child {
                    align-items: flex-start; // to align the icons and texts left

                    .fa {
                      position: absolute;
                      left: -45px;

                      &.fa-credit-card {
                        font-size: 30px;
                      }

                      &.fa-mobile {
                        font-size: 50px;
                        left: -40px;
                      }
                    }

                    .bitcoinIcon {
                      position: absolute;
                      left: -5px;
                      top: 0;

                      .fa-circle {
                        color: @bitcoinOrange;
                      }
                      .fa-bitcoin {
                        color: white;
                        transform: rotate(12deg);
                      }
                    }
                  }

                  // right side (buttons)
                  &:last-child {
                    align-items: flex-end; // to align the buttons right

                    .bitcoinAddressButton {
                      margin-bottom: 15px; // .walletAddressText
                    }

                    .walletLabelText {
                      font-size: 1em;
                      color: @braveOrange;
                      margin-bottom: 5px;
                    }

                    .walletAddressText {
                      font-size: 12px;
                      color: black;
                      margin-bottom: 15px; // .bitcoinAddressButton
                    }
                  }
                }
              }

              // This defines styling of the panel footer of "Add funds..."
              .panelFooter {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &.coinbaseFooter {
                  justify-content: space-between;

                  .coinbase {
                    display: flex;
                    align-items: center;

                    .coinbaseMessage {
                      display: inline-block;
                      max-width: 450px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .dialog-footer {
        .advancedSettingsFooter {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;

          .recoveryFooterButtons {
            float: right;
          }
        }
      }
    }
  }

  .advancedSettingsWrapper {
    // cf: .hideExcludedSites
    @margin-bottom: @walletBarMargin / 2;

    text-align: right;
    margin-right: @walletBarPadding;
    margin-bottom: @margin-bottom;

    // align the button with .autoSuggestSwitch
    position: relative;
    left: 3px;

    button {
      min-width: 235px; // PR #6287
    }
  }

  // This defines the styling of the title row (1st) on about:preferences#payments
  .titleBar {
    overflow: hidden;
    display: flex;
    align-items: center;

    .paymentsSwitches {
      display: flex;

      .enablePaymentsSwitch,
      .autoSuggestSwitch {
        display: flex;
        align-items: center;
        width: @walletBarTableData;

        .settingItem .switchControl {
          padding-top: 0;
          padding-bottom: 0;
        }

        span,
        .moreInfoBtn {
          font-weight: bold;
          font-size: @fontSize;
          color: @gray;
        }

        label {
          font-weight: bold;
        }
      }

      .autoSuggestSwitch {
        position: relative;
        left: -5px; // .prefTabContainer .switchControl

        .moreInfoBtn {
          margin-left: 7px;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  // PR #6370
  .disabledContent {
    .paymentsMessage {
      background-color: @lightGray;
      border-radius: @borderRadiusUIbox;
      margin-top: @walletBarMargin;
      padding: 40px;
      font-size: @fontSize;
      line-height: 1.8em;
      color: @mediumGray;
      width: 500px;
      float: left;

      > div {
        padding: 0.5em 0;
      }

      > h3 {
        font-size: 18px;
        padding-bottom: 0.5em;
      }

      .boldText {
        font-weight: bold;
      }
    }

    .paymentsSidebar {
      opacity: 0.8;
      width: 200px;
      float: left;
      margin-left: 23px;

      .paymentsSidebarPIA {
        background-image: -webkit-image-set(url(../../app/extensions/brave/img/private_internet_access.png) 1x,
                                            url(../../app/extensions/brave/img/private_internet_access_2x.png) 2x);
        width: 195px;
        height: 20px;
      }

      .paymentsSidebarBitgo {
        background-image: -webkit-image-set(url(../../app/extensions/brave/img/bitgo.png) 1x,
                                            url(../../app/extensions/brave/img/bitgo_2x.png) 2x);
        width: 100px;
        height: 25px;
      }

      .paymentsSidebarCoinbase {
        background-image: -webkit-image-set(url(../../app/extensions/brave/img/coinbase.png) 1x,
                                            url(../../app/extensions/brave/img/coinbase_2x.png) 2x);
        width: 100px;
        height: 35px;
      }

      div {
        font-size: 12px;
        margin: 50px 0 20px 12px;
      }

      a {
        div {
          margin-top: 0;
        }
      }

      h2 {
        font-size: 18px;
        margin: 70px 0 -15px 12px;
      }
    }
  }

  // This defines the styling of the control panel (2nd) on about:preferences#payments
  .walletBar {

    background: @lightGray;
    border-radius: @borderRadiusUIbox;
    padding: @walletBarPadding;
    margin: @walletBarMargin 0;

    th {
      text-align: left;
    }

    tr {
      height: 1em;
    }

    td {
      font-size: @fontSize;
      padding: 10px 30px 0 0; // .settingsList .settingItem > *:not(.switchControl) 10px
      width: auto;
      min-width: @walletBarTableRowWidth;
      vertical-align: top;

      .settingsListContainer {
        margin-bottom: 0;

        .settingsList {
          .settingItem {
            .fundsAmount,
            .fundsSelectBox,
            .addFunds {
              min-width: 180px;
              width: auto;
            }

            .fundsSelectBox {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .settingsList .settingItem {

      .paymentHistoryButton {
        display: block;
        font-size: @fontSize;
        line-height: 18px;
        color: @braveOrange;
        height: auto;
        margin-top: @walletBarItemMargin;
        padding: 0;
        text-align: left;
        cursor: pointer;
        white-space: normal;
      }

      .balance {
        display: flex;
        align-items: center;
        vertical-align: 0;
        height: 100%;
        margin-bottom: 0;

        span {
          font-size: @fontSize; // for "Loading..." and .fundsFAQ
        }

        > span {
          height: 2.25em; // .form-control
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0; // .fundsFAQ

          > span {
            margin: 0; // for "Loading..."
            padding: 0; // .fundsFAQ
          }
        }

        + button {
          margin-top: @walletBarItemMargin;
        }

        a {
          &:hover {
            text-decoration: none;
          }

          .fundsFAQ {
            color: @gray;
            margin: 0 0 0 5px;
          }
        }
      }
    }

    .fundsAmount {
      display: inline;
      margin: 0;
      width: auto;
    }

    .accountBalanceError,
    .nextReconcileDate {
      margin-top: @walletBarItemMargin;
    }

    .nextReconcileDate {
      margin-bottom: 0;
    }
  }

  // This defines the styling inside the table (3rd) on about:preferences#payments
  .ledgerTable {
    .hideExcludedSites {

      // Because the length of the string "Hide excluded sites" is different between languages, text-align:right should not be used.
      // Instead the width of the table data inside .walletBar is doubled, adding the padding-left of the .walletBar.
      // The similar way styling is used for .enablePaymentsSwitch too.
      @margin-left: (@walletBarTableData * 2) + @walletBarPadding;

      // This applies the margin bottom to the spec image
      @margin-bottom: @walletBarMargin / 2;

      margin-left: @margin-left;
      margin-bottom: @margin-bottom;
    }

    table {
      &.sort {
        width: 100%;
        text-align: left;
      }

      tr {
        height: 26px;

        th,
        td {
          padding: 0 15px;
        }

        td {
          position: relative;

          &.alignRight {
            text-align: right;
          }

          .neverShowSiteIcon {
            font-size: 20px;
            text-align: center;

            .fa {
              visibility: hidden;
            }

            &:hover {
              .fa {
                visibility: visible;
              }
            }
          }

          .site {
            .verified {
              height: 20px;
              width: 20px;
              background: url('../../img/toolbar/verified_green_icon.svg') center no-repeat;
              display: inline-block;
              position: absolute;
              left: -10px;
              top: 3px; // (26px - 20px)/2
              &.disabled {
                background: url('../../img/toolbar/verified_white_icon.svg') center no-repeat;
              }
            }

            a {
              height: 24px;

              .fa-file-o {
                font-size: 15px;
                margin-right: 6px;
                text-align: center;
                width: 24px;
              }

              img {
                width: 1.5em;
                height: 1.5em;
                margin-right: 6px;
                vertical-align: middle;
              }
            }
          }
        }

        &.paymentsDisabled {
          opacity: 0.6;
        }

        .th-inner {
          font-weight: bold;
          font-size: 14px;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.board {
  overflow-x: hidden;
  clear: both;

  .panel {
    background: #FFFFFF;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 25px 20px;

    #bitcoinPaymentURL {
      cursor: pointer;
      background-color: @lightGray;
      &:hover {
        background-color: @gray;
      }
      font-size: 0.9em;
    }

    .settingsListTitle {
      color: @darkGray;
      font-weight: bold;
      font-size: 15px;
      margin: 0;

      &.subTitle {
        clear: both;
        font-weight: normal;
        font-size: 14px;
        font-style: italic;
        line-height: 1.3em;
        margin-top: 20px;
      }
    }

    span {
      display: inline;
    }
    a {
      text-decoration: none;
    }

    button > a {
      color: #fff;
    }

    .labelText {
      clear: both;
      font-size: 1em;
      color: @braveOrange;
      margin-bottom: 5px;
    }

    .primaryButton {
      min-width: 180px;
    }

    &:after {
      content:" ";
      display:block;
      clear:both;
    }

    .ledgerBackupContent {
      width: 75%;
      margin: 0 auto;
      display: block;
      line-height: 1.3em;
      margin-bottom: 60px;
    }
  }

  .panelFooter {
    color: @darkGray;
    font-size: 13px;
    font-style: italic;
    padding: 20px 20px 20px 50px;
  }

  &.contrast {
    background: @highlightBlue;
    color: white;

    * {
      color: white;
    }
  }

  .disabledPanel {
    div:nth-of-type(2) {
      padding: 15px 0;
    }
  }
}

#coinbaseLogo {
  background: url('../../app/extensions/brave/img/coinbase_logo.png') 0 0 / contain no-repeat;
}

#searchSelectIcon {
  width: 16px;
  height: 16px;
  color: @braveOrange;
}

.prefTabContainer .switchControl {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  &.disabled {
    .switchBackground {
      opacity: 0.3;
    }
    .switchControlRightText, .switchControlLeftText {
      opacity: 0.3;
    }
    cursor: default;
  }

  &:not(.disabled) {
    .switchBackground.switchedOn {
      background-color: @switchBG_on;
      .switchIndicator {
        right: 2px;
      }
    }
  }

  &.large {
    .switchBackground {
      height: 26px;
      width: 60px;
      .switchIndicator {
        height: 22px;
        width: 22px;
      }
    }
  }

  &.small {
    .switchBackground {
      height: @smallSwitchHeight;
      width: @smallSwitchWidth;
      .switchIndicator {
        height: @smallSwitchNubDiameter;
        width: @smallSwitchNubDiameter;
        top: 1px;
        right: calc(@smallSwitchWidth - @smallSwitchNubDiameter - @switchNubRightMargin);
      }
    }
  }

  > label {
    vertical-align: middle;
  }

  .switchControlText {
    margin: auto 0;
  }

  .switchControlLeftText {
    margin: auto 5px auto 0;
  }

  .switchControlRightText {
    margin: auto 0 auto 5px;
  }

  .switchControlTopText {
    margin: 0 auto 5px auto;
  }

  .switchControlRight {
    display: flex;
  }

  .switchMiddle {
    display: flex;
    flex-direction: column;
  }

  .switchBackground {
    background-color: @switchBG_off;
    border-radius: 12px;
    height: @switchHeight;
    position: relative;
    width: @switchWidth;
    box-shadow: @switchShadow;

    .switchIndicator {
      background-color: white;
      border-radius: 100%;
      height: @switchNubDiameter;
      position: absolute;
      top: @switchNubTopMargin;
      width: @switchNubDiameter;
      box-shadow: @switchNubShadow;
    }
  }
}

.moreExtensionsComingSoon {
  padding-top: 10px;
  font-style: italic;
}

.widevineInfo {
  line-height: 1.3em;

  .fa-info-circle {
    margin-left: 5px;
    cursor: pointer;
  }
}

.syncContainer {
  .modal {
    textarea {
      width: 80%;
      height: 100px;
      font-size: 18px;
      font-family: monospace;
    }
    li {
      margin: 1em;
    }
    .settingsListContainer {
      margin-bottom: 1.5em;
    }
    .dialog-body, .dialog-footer {
      padding-left: 50px;
      padding-right: 50px;
    }
    .dialog-footer {
      margin-top: 1.5em;
      padding-bottom: 2em;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .browserButton + .browserButton {
    margin-left: 0.75em;
  }
  .setupContent {
    margin: 1em 0;
  }
  .deviceNameInput {
    width: 50%;
  }
  .device {
    background-color: @lightGray;
    border-radius: @borderRadiusUIbox;
    color: @mediumGray;
    display: table;
    line-height: 1.8em;
    margin: 1em 0;
    padding: 0.5em 1em;
    width: 500px;
    & > div, .settingItem {
      display: table-cell;
      vertical-align: middle;
    }
    #syncEnableSwitch {
      width: 50%;
    }
    .syncDeviceLabel {
      font-size: 0.9em;
      margin: 0;
    }
    .deviceName {
      margin-bottom: 0.5em;
    }
  }
}

#syncPassphrase {
  margin: 1em;
  color: #ff0400;
  font-size: 15px;
  font-family: monospace;
}

#syncQR {
  margin: 1em;
}
