@import "./itemList.less";
@import "./common.less";

strong, div, span, li, em, p, a {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  background: @veryLightGray;
}

/*name/color taken from preferences.less*/
.sectionTitle {
  color: @braveOrange;
  cursor: default;
  user-select: none;
}

.siteDetailsPage {
  margin: 0;
  padding-top: 24px;

  .siteDetailsPageHeader {
    padding: 0 @aboutPageSectionPadding;

    .sectionTitle {
      font-size: 24px;
      display: inline-block;
    }
    .headerActions {
      float: right;

      .searchWrapper {
        display: inline-block;

        /*overridden from siteDetails.less*/
        input.searchInput {
          float: none;
          padding: 5px;
          margin-top: 0;
          margin-right: 12px;
          font-size: 16px;
          min-width: 280px;
          height: 22px;
        }
        .searchInputPlaceholder {
          color: @gray;
          float: none;
          font-family: FontAwesome;
          left: -35px;
          margin: 0;
          padding: 0;
          position: relative;
          width: 0;
        }
        .searchInputClear {
          float: none;
          margin: 0;
          padding: 0;
          width: 0;
          position: relative;
          left: -35px;
        }
      }
      /*copied from preferences.less*/
      span.browserButton.primaryButton.clearBrowsingDataButton {
        font-size: 0.9em;
        padding: 5px 20px;
        margin: 0;
      }
    }
  }

  .siteDetailsPageContent {
    border-top: 0px;
    margin-top: 24px;
    display: block;
    clear: both;

    .sectionTitle {
      font-size: 16px;
      margin-bottom: 12px;
      padding-left: @aboutPageSectionPadding;
    }
  }
}

.searchInputClear {
  float: right;
  padding: 8px;
  margin-top: -39px;
  color: #999;
}
