/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../variables.less";

.siteDetailsPage {
  margin: 0;
  padding-top: 24px;

  .siteDetailsPageHeader {
    padding: 0 @aboutPageSectionPadding;

    .headerActions {
      display: flex;
      align-items: center;

      /*overridden from siteDetails.less*/
      input.searchInput {
        padding: 5px;
        margin-left: 12px;
        font-size: 16px;
        min-width: 280px;
      }

      .searchInputPlaceholder,
      .searchInputClear {
        font-family: FontAwesome;
        color: @gray;
        left: -25px;
        margin: 0;
        padding: 0;
        position: relative;
        width: 0;
      }
    }
  }

  .siteDetailsPageContent {
    border-top: 0px;
    margin-top: 24px;
    display: block;
    clear: both;
  }
}
