.tutorialDialog {
  width: 350px;
  height : 100px;
  margin : 15px 15px 0 5px;
  background-color : white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.downloadDialog {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 9;
}

.shade {
  margin : 0;
  background : rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
}

.interstitialShade {
  margin : -114px -8px -8px -8px;
  background : rgba(0, 0, 0, .6);
  height: 102%;
}

.tutorialDialog p {
  color: #3C4A54;  /*#3F3F3A;*/
  line-height: 22px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.tutorialDialog .bottomText{
  font-size: 13px;
  opacity: .7;
}

.tutorialDialog .topText{
  font-weight: 600;
  font-size: 16px;
}

.tutorialDialog .footerDiv{
  height: 40px;
  width: 350px;
}

.tutorialDialog .dialogLPLogo {
  margin: 5px 0 0 20px;
}

.tutorialDialog .dialogTextDiv {
  display: inline-block;
  padding: 10px 0 0 20px;
  height: 60px;
}

.tutorialDialog .hideDiv {
  margin: 0 20px 0 0;
  float: right;
}

.tutorialDialog .hideP {
  font-size: 12px;
  color: rgba(60, 74, 84, .5);
  cursor:pointer;
}
.tutorialDialog .hideP:hover {
  color: rgba(60, 74, 84, 1);
}

.tutorialDialog #arrow {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;
  overflow: hidden;
}
.arrow_box {
  /*position: relative;*/
  overflow: visible;
}
.arrow_box:after, .arrow_box:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box.a-top:after,
.arrow_box.a-top:before {
  bottom: 100%;
}
.arrow_box.a-bottom:after,
.arrow_box.a-bottom:before {
  top: 100%;
}
.arrow_box.a-left:after,
.arrow_box.a-left:before {
  right: 100%;
}
.arrow_box.a-right:after,
.arrow_box.a-right:before {
  left: 100%;
}

.arrow_box.a-h-left:after,
.arrow_box.a-h-left:before {
  left: 25%;
}
.arrow_box.a-h-center:after,
.arrow_box.a-h-center:before {
  left: 50%;
}
.arrow_box.a-h-right:after,
.arrow_box.a-h-right:before {
  left: 75%;
}
.arrow_box.a-v-high:after,
.arrow_box.a-v-high:before {
  top: 25%;
}
.arrow_box.a-v-middle:after,
.arrow_box.a-v-middle:before {
  top: 50%;
}
.arrow_box.a-v-low:after,
.arrow_box.a-v-low:before {
  top: 75%;
}


.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 15px;
}
.arrow_box.a-top:after {
  border-bottom-color: white;
  margin-left: -15px;
}
.arrow_box.a-bottom:after {
  border-top-color: white;
  margin-left: -15px;
}
.arrow_box.a-left:after {
  border-right-color: white;
  margin-top: -15px;
}
.arrow_box.a-right:after {
  border-left-color: white;
  margin-top: -15px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 15px;
}
.arrow_box.a-top:before {
  border-bottom-color: #3C4B55;
  margin-left: -15px;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.4));
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.4));
}
.arrow_box.a-bottom:before {
  border-top-color: #3C4B55;
  margin-left: -15px;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.4));
  -webkit-filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.4));
}
.arrow_box.a-left:before {
  border-right-color: #3C4B55;
  margin-top: -15px;
  filter: drop-shadow(-2px 0 1px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(-2px 0 1px rgba(0, 0, 0, 0.2));
}
.arrow_box.a-right:before {
  border-left-color: #3C4B55;
  margin-top: -15px;
  filter: drop-shadow(2px 0 1px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(2px 0 1px rgba(0, 0, 0, 0.2));
}

@keyframes fadeInUp {
from {
  opacity: 1;
  transform: translate3d(0, 100%, 0);
}

to {
  opacity: 1;
  transform: none;
}
}