#duplicatePasswordDialog {
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#duplicatePasswordDialogDisableSite,
#duplicatePasswordDialogDisableAll {
  font-size: 12px;
  cursor: pointer;
}

#duplicatePasswordDialogDisableSite {
  margin-right: 20px;
}

#duplicatePasswordDialogDisableSite:hover,
#duplicatePasswordDialogDisableAll:hover {
  text-decoration: underline;
}

#duplicatePasswordDialogDescription {
  margin-bottom: 20px;
}
