#loginDialog {
  width:  360px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
#loginDialog .dialogHeader {
  padding: 10px 0px;
}
#loginDialog .dialogInput{
  border-radius: 4px;
  height: 50px;
  padding: 0 10px;
  border-width: 3px;
  border-color: white;
}
#loginDialog #forgotPassword {
  font-size: 13px;
}
#loginDialog p {
  color: white;
}
#loginDialog label {
  color: white;
  font-size: 13px;
  font-weight: 300;
}
#loginDialog a {
  color: #81D6E3;
  font-weight: 300;
  font-size: 15px;
}
#loginDialog .dialogContent {
  padding: 0;
}
#loginDialog .selectDropdownList {
  width: 350px;
  border: 0;
}