#generatePasswordDialog {
  max-height: 500px;
  max-width: 400px;
  font-size: 14px;
}

#generatePasswordDialog .dialogContent {
  overflow: visible;
}

#generatePasswordDialog .dialogInput {
  font-size: 14px;
}

#extensionDropdownGeneratePassword #generatePasswordDialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: none;
}

#generateButton {
  background-image: url('images/vault_4.0/Generate_Button.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 14px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

#copyPassword {
  position: absolute;
  right: 0;
  top: 120%;
  font-size: 13px;
  color: #D72420;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.generateButtonContainer {
  text-align: right;
}

#generatePasswordDialogAdvancedOptions {
  border: 1px solid #929292;

}

#generatePasswordDialogAdvancedOptions > div {
  margin: 15px;
}

#generatePasswordDialogAdvancedOptions > div > div {
  margin-bottom: 6px;
}

#minNumeric {
  width: 40px;
}

#generatePasswordDialog td {
  padding: 0;
}

#generatePasswordDialogAdvancedOptions td {
  width: 25%;
}
