#identityDialog {
  max-height: 600px;
  max-width:1000px;
}

#identityDialog .dialogLeftPane {
  width: 30%;
}

#identityDialog .dialogRightPane {
  left: 30%;
}

.inputContainer > p {
  margin-top: 20px;
}
