#loginDialog {
  width: 320px;
  max-width: 320px;
}

.inputCapsMatter{
  display: block;
}

.isCaps:focus{
  background-image: url("images/vault_4.0/Caps.png");
  background-position: center right 30px;
  background-repeat: no-repeat;
  background-color: rgba(243, 156, 18, 0.15);
}

#loginDialog .dialogContent {
  padding-bottom: 20px;
}

#loginDialog .dialogHeader.icon.leftIcon {
  background-position: 20px center;
  background-size: 50%;
}

#forgotPassword {
  font-size: 13px;
  color: #A3ADCC;
  text-align: right;
  padding: 5px 0 10px 0;
  display: inline-block;
  float:right;
  text-decoration: none;
  cursor: pointer;
}

.newToLastPass {
  font-size: 14px;
  text-align: center;
}

#newToLastPass {
  color: #D22D27;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}

.showKeyboard {
  width: 21px;
  height: 13px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url('images/vault_4.0/Keyboard.png');
  background-repeat: no-repeat;
  background-position: center center;
}
