/*
******* Note Dialog *******
*/

#noteDialog {
  max-height: 650px;
  min-height: 215px;
  max-width: 1000px;
  min-width: 640px;
}

#noteDialogType {
  width: 75%;
  border-width: 1px 1px 1px 0;
  outline: none;
  border: none;
}

#noteDialogTypeContainer .itemIcon {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

#noteDialogTypeContainer .itemIcon img {
  height: 60%;
}

.noteDropdown .itemIcon {
  margin-right: 5px;
  height:100%;
}

.selectDropdownList.dropdownMenu .noteDropdown {
  padding-left: 0;
}

#noteDialogTypeIcon {
  height: 30px;
}

#noteDialogTypeInputContainer {
  border-width: 1px;
  border-style: solid;
  border-color: #A7AFBA;
}

#noteDialogTypeInputContainer.focus {
  border-color: #84B7F8;
  outline: 1px solid #CCE0FD;
}

#noteDialogTypeContainer .subMenu {
  overflow: auto;
}

#noteDialogTypeContainer .dropdownButton {
  top: 0;
  bottom: 0;
}

#addAttachmentButton {
  background-image: url('images/vault_4.0/Attachment_Black.png');
  padding-left: 35px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 10px;
}
