#settingsDialog {
  height: 600px;
  width: 1100px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.settingsLeftMenu {
  display: none;
}

#settingsContent {
  background-color: #FFF;
  padding: 20px;
  position: absolute;
  left: 240px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.settingsContainer {
  display: none;
}

