#sharedFolderDialog {
  max-height: 605px;
  max-width: 1100px;
}

#sharedFolderDialog th {
  font-weight: 400;
}

#sharedFolderDialog th, #sharedFolderDialog td {
  font-size: 13px;
  width: 14%;
}

#sharedFolderDialog td {
  text-align: center;
}

#sharedFolderDialog td:first-child {
  text-align: left;
  width: 30%;
}

#sharedFolderDialog .settings {
  height: auto;
}

#sharedFolderDialog .dialogLeftPane {
  width: 30%;
}

#sharedFolderDialog .dialogRightPane {
  left: 30%;
}

#sharedFolderDialogInviteContainer, #sharedFolderDialogNewUsersContainer {
  margin-top: 20px;
}

#sharedFolderDialogInviteContainer > button {
  margin: 0;
  float: right;
}

#sharedFolderMaxMembers {
  display: none;
}
