#attachtable { width:98%; } 

.attachimg {
  border: 3px solid transparent !important;
  float:left;
}
.attachimg:hover {
  border: 3px solid #ADD8E6 !important;
  cursor: pointer;
}
.attachx {
  background:url('x.gif') no-repeat;
  background-position:center; 
  font-size:25px;
  line-height:25px;
  width:22px;
  opacity:0.5;
  float:right;
}
.attachx:hover {
  cursor: pointer;
}
.attach_list_dropStyle { /* this entry is based on combobox.css */
  border:thin dotted;
background: #919191 !important; /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
  font-weight: bold;
  color: #e7e5e5;
  position:absolute;
  cursor:default;
  text-align:left;
  font-size:12px;
  z-index:10000;
  overflow:auto;
}

.attach_extension {
  text-align:center;
  font-size:12px;
  padding-right:8px;
}

.attach_list_dropStyle .item {
  padding:5px 11px;
}

#lpaddattach {
  background:url('images/paperclip_w.png') 12px 2px no-repeat #555;
  margin:4px 0 0 0;
  top:8px;
  width:90px !important;
}
#lpaddattach:hover {
  cursor: pointer;
}

#addrow { height:40px; display:none; }

fieldset{ border:none; }

/*------scrollbar css --------*/

::-webkit-scrollbar {
        width: 12px;
        height: 15px;
}

::-webkit-scrollbar-thumb {
        width: 12px;
        background: hsla(0,0%,0%,0.15);
        -webkit-border-radius: 5px;
        -webkit-box-shadow:inset -2px 0px 5px hsla(0,0%,0%,0.3), inset 1px 0 0 hsla(0,0%,0%,0.2), inset -1px 0 0 hsla(0,0%,0%,0.2), inset 2px 0 0 hsla(0,0%,100%,0.4);
}

::-webkit-scrollbar-track {
        width: 12px;
        border-style: none;
        -webkit-box-shadow:inset 2px 0px 5px hsla(0,0%,0%,0.15), inset 1px 0 0 hsla(0,0%,0%,0.2);
        background-color: hsl(0,0%,93%);
}

#notestype{
  padding: 5px 25px;
  width:250px;
}
#passwordtoggle {
  margin-left: -4px;
}
/* to defuse textboxes.css rule */
#passwordtoggle:hover {
  background-color: transparent;
  text-decoration: none;
  vertical-align: bottom;
}

/* based against
** http://www.spiceupyourblog.com/2011/05/simple-css-only-tooltip-descriptions.html
*/

.ntooltip{
    position:relative;
}
.ntooltip *{
    display:inline-block;
}
.ntooltip span:last-of-type{
    display:none;
    position:absolute;
    left:100%;
    bottom:-2px;
    margin-left:8px;
    text-align: center;
    z-index: 999;
    width: 150px;
    font-size:12px;
    font-family: Helvetica, Arial, sans-serif; font-weight:bold;
    padding: 2px;
    border: 1px solid #a0a0a0;
    opacity: .9;
    line-height:14px;
    color:#848484;
    background-color: #fff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
.ntooltip:hover span:last-of-type{display:block;}
.ntooltip span:last-of-type:after{
  content: "";
  position: absolute;
  z-index: 1000;
  top: 2px;
  left:-8px;
  border-top: 8px solid transparent;
  border-left: 0;
  border-right: 8px solid #a0a0a0;
  border-bottom: 8px solid transparent;
}

.tooltip
{
position: relative;
/*background: #eaeaea;*/
display: inline-block;
text-decoration: none;
/*color: #222;*/
background-color: transparent;
outline: none;
}

.tooltip span:last-of-type
{
visibility: hidden;
position: absolute;
margin-left:8px;
text-align: center;
z-index: 999;
width: 150px;
font-size:12px;
font-family: Helvetica, Arial, sans-serif; font-weight:bold;
padding: 2px;
border: 1px solid #a0a0a0;
opacity: .9;
line-height:14px;
color:#848484;
background-color: #fff;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltip:hover
{
border: 0; /* IE6 fix */
}

.tooltip:hover span:last-of-type
{
visibility: visible;
}

.tooltip span:last-of-type:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  top: 2px;
  left:-8px;
  border-top: 8px solid transparent;
  border-left: 0;
  border-right: 8px solid #a0a0a0;
  border-bottom: 8px solid transparent;
}

.eye {
  vertical-align:bottom;
  background-color:transparent;
}

.eye:hover {
  vertical-align:bottom;
  background-color:transparent;
}
/* don't know why it's needed here explicitly; should be covered by rules in textboxes.css */
#password:focus, #password:hover {
        border-color: #C9C9C9;
        -webkit-box-shadow: rgba(0, 198, 255, 0.40) 0px 0px 8px;
        }


#notestype_combo{
  height:310px;
  padding: 5px 0px;
}

input[type=text], input[type=password], textarea{
  -webkit-border-radius: 1px;
}

.icon, .eye img{ opacity:0.5; }
.icon:hover, .eye img:hover{ opacity:1.0; }

.eye2 {
  margin-left:-24px;
}
.eye {
  padding-bottom:3px;
}
.teardrop{
  position:absolute;
}

#siteframe{
  width:700px;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 4px;
  font-size:12px;
  margin:0px auto;
}

#siteheader{
  height:65px;
  border-bottom:1px solid #c3c3c3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#siteheader img{
  padding:22px 0 0 32px;
  width:206px;
  height:auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#sitebody{
  background:#e6e6e6;
  padding:15px 0 15px 40px;
}

#sitebody hr{
  width:620px;
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin-top: 15px;
  margin-right:40px;
}

.bold{
  font-weight:bold;
}

.boldred{
  font-weight:bold;
  color: red;
}

.floatleft{
    float:left;
}

.floatright{
    float:right;
}

.clear{ clear:both; }

.span_1of2{
    width:48%;
}
.span_2of2{
    width:48%;
    margin-right:40px;
}


.section_hdg{
    font-size:13px;
    margin-bottom:2px;
}

#notesrow1{ margin-bottom:6px; }

.top10{ margin-top:10px; } /*nasty.. make other elements line up with top of button*/

.progress_container{
    width:90%;
    height:26px;
    border:1px solid #c4c4c4;
    background:#fff;
    overflow:hidden;
    margin:10 auto 6 auto;
} 
              
.progress_bar{
    height:28px;
    position:relative;
    top:-1px;
    background:#cedce7;
}

#pwagelabel{ display:none;font-size:12px;font-style:italic; margin:0 0.25em; font-weight:normal; }
#pwagediv{ font-size:12px;font-weight:normal; }

.modalbackground{
  position:absolute;
  z-index:1011;
  left:0px;
  top:0px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  background: linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);opacity:0.9;filter:alpha(opacity=90);
  display:none;
}

.dialog{
  position:absolute;
  text-align:left;
  display:none;
  border:3px solid #FFF;
  background:#e6e6e6;
  z-index:1012;
  overflow:hidden;
}

.dialog p{ margin:0; }

.dialog_hdr{
  width:458px;
  font-size:18px;
  line-height:18px;
  font-weight:bold;
  margin:0;
  padding:8px;
  position:relative;
  background:#fff;
}

.dialog_hdr img{
  position:absolute;
  top:8px;
  right:8px;
}

.dialog_content{
  min-width:420px;
}

.dialog_inset{
  overflow-x:hidden;
  overflow-y:scroll;
  margin:16px 24px;
  background:#fcfcfc;
}

#dlghtml{ padding:16px; }

#stepbystep{
  padding: 10px 0px;
}
#advanced{
 height:60px;
 overflow:hidden;
 width:440px;
 border: 1px solid #ccc;
 position:absolute;
 bottom:16px;

 display:none;
}

#url{
  width:620px;
  max-width:620px;
}
.stdinput{
  width:280px !important;
}

.leftcol{
  float:left;
  width:320px;
}
.leftcol2{
  float:right;
  width:320px;
}


.siterow{
  padding-bottom:10px;
}

.siterowtop{
  padding-top:10px;
}

#notes{
  height:100px;
  font-family: monospace; width: 600px; max-width: 600px;
}

input[type=text],input[type=password],textarea{
  padding-left:10px;
}

.check{
  float:left;
  margin:8px 20px 0 20px;
}

.icon_text{
    font-size:13px;
    cursor:pointer;
}
.icon_text img{position:relative;top:6px;margin-right:12px;}

#usernamehistory img{position:relative;top:6px;}
#passwordhistory img{position:relative;top:6px;}

#favcheck{
  width:100px;
}
#never_autofill_td{
  width:133px;
}
#pwcheck{
  width:210px;
}
#autologingrp{
  width:110px;
}
#checkboxrow1{
  padding:10px 0;
  font-weight:normal;
}

.paditout{
  position:relative;
  top:6px;
  left:0;
  height:20px;
  width:1px;
  display:inline-block;
}
#sitebodymain{
  padding:50px 0px;
  color:#4c4c4c;
}

label.icon_text,#sitebodymain a{
  color:#424242;
  font-weight:normal;
  text-decoration:none;
}

a#editfields{position:relative;top:0;left:21px;margin-bottom:3px;text-decoration:underline;}

#notestype_button{
  background:transparent !important;
}
#sitebodymain table{
  font-size: 13px !important;
}
/*
#passwordhistory{
  float:right;
  padding-right:7px;
}
*/
#siteactions{
  float:right;
}
label.icon_text, #siteactions a{
  padding-left:30px;
}
label.icon_text:hover, #sitebodymain a:hover{
  color: #4c4c4c;
}

#password {
  padding-right: 30px;
  font-family: Monaco,Consolas,Courier;
}

#fields {
  width: 615px;
}

#dynheader{
    padding:10px;
    margin:10px 40px 0 0;
    background:#999;
    color:#fff;
    font-weight:bold;
    font-size:14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#dynbody {
  padding:10px;
  margin: 0 40px 0 0;
  background:#cfcfcf;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.restrict_right{ padding-right:40px; }

#attachdiv {
  overflow-y:hidden;overflow-x:auto;width:100%;
}

.eyewatchicon {
  margin-bottom:-12px;height:24px;width:24px;
}
.checkboxrowwrap{ height:auto; }
.turn90 {
    -webkit-transform:rotate(90deg);
}
#advsettings{
  -webkit-transition:0.2s ease-in-out;
  -webkit-transform-origin:7px 9px;
  height:20px;
  width:20px;
  display:inline-block;
  cursor:pointer;
}
#lp_docwrite_site14a{
  cursor:pointer;
}
#advset_hovertgt{ opacity:0.5; }
#advset_hovertgt:hover{ opacity:1; }
#advsettings img{
  position:relative; top:2px;
  width:14px;
  height:14px;
}

#checkboxrow1{
    -webkit-transition: max-height 0;
    overflow:hidden;
    padding:0;
}

.fakecheckbox{display:inline-block;width:1px; height:16px;}

#cpwbtnmini{
  display:none;
}

#lp_docwrite_site15{font-weight:normal;}
.shrunk{ max-height:0; }
.grow { max-height:60px; }
.nopad{ margin:0; }
#exnotehist {
  float:right;
  padding-right:55px;
}
#lp_docwrite_site14{
  margin-left:10px;
}
