/*
******* Site Dialog *******
*/

#siteDialog {
  min-height: 215px;
  max-width: 800px;
  min-width: 485px;
}

#siteDialog .dialogContent {
  padding-bottom: 0;
}

#siteDialog .advancedOptionsContainer {
  padding-bottom: 20px;
}

.advancedSiteSettings label {
  margin-right: 20px;
}

#siteDialog .history {
  background-image: url('images/vault_4.0/History.png');
  background-position: center center;
  background-repeat:  no-repeat;
  height: 18px;
  width: 18px;
  float: right;
  margin-right: 3px;
  cursor: pointer;
}

#autoChangePassword {
  font-size: 13px;
  position: absolute;
  margin-top: 10px;
  color: #D72420;
  cursor: pointer;
  display: none;
}

/*
******* Typeahead *******
*/

.siteTypeaheadOption {
  position: relative;
}

.siteTypeaheadOption .itemIcon {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 20px;
}

.siteTypeaheadOptionText {
  margin-left: 30px;
}

.siteTypeahead .selectDropdownList {
  max-height: none;
}
