/************************
*********Reset CSS*******
************************/

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family:"Gill Sans MT",verdana,sans-serif;
	color:#2e2e2e;
	font-weight:normal;
}
body {
	line-height: 1;
	font-size:14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************
******General Elements***
************************/

a{
	color:#111;
	text-decoration:none;
	font-style:italic;
}

strong{
	color:#000;
	font-weight:bold;
}

em{
	color:#000;
	font-style:italic;
}

a:hover{
	color:#000;
	text-decoration:underline;
}

h1{
	font-size:36px;
	margin:20px 0;
}

h2{
	font-size:30px;
	margin:15px 0;

}

h3{
	font-size:24px;
	margin:10px 0;
}

p{
	font-size:15px;
	line-height:23px;
}

img{
	margin:0;
	padding:0;
}

img.left{
	float:left;
	margin:15px 15px 15px 0;
	padding:2px;
}

img.right{
	float:right;
	margin:15px 0 15px 15px;
	padding:2px;
}

ul{
	margin:10px 0;
	list-style:disc inside none;
}

ul li{
	padding:4px 0;
}

ol{
	margin:10px 0;
	list-style:decimal inside none;
}

ol li{
	padding:4px 0;
}

blockquote{
	margin:10px 0;
	border-top:1px dashed #444;
	border-bottom:1px dashed #444;
	padding:4px 0;
}

body{
	background:#eee url('../images/bg.jpg') repeat-x fixed center top;
}

/************************
*********Layout**********
************************/


/**********Header*******/

#header{
	background:url('../images/nav_bg.jpg') repeat-x center top;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	height:46px;
	position:fixed;  /* This property keeps the header attached to top of the window */
	top:0;
	left:0;
	width:100%;
	z-index:999;
}


#logo{
	float:left;
	margin-top:10px;
}



/* Top Menu */

#navigation{
	float:right;
	list-style-type:none;
	margin:0;
}

#navigation li{
	float:left;
	line-height:13px;
	padding:0 0px;	
}

#navigation li a{
	font-style:normal;
	display:block;
	font-size:14px;
	margin:0;
	padding:16px 20px;
	text-decoration:none;
}

#navigation li a:hover, #navigation li a.selected{
	background-color:#d3d3d3;
	color:#000;
}

/**********Content*******/

#content{
	position:relative;
}

/*********Home**********/

#home .title{	
	text-align:center;	
	margin:100px auto 40px;
}

#home-nav-whoami, #home-nav-mywork{
	display:block;
}

#home-nav-whoami{
	position:absolute;
	top: 30px;
	left:250px;
}

#home-nav-mywork{
	position:absolute;
	top: 30px;
	right:250px;
}

#home-nav{
	position:relative;
	height:225px;
}

.separator{
	position:relative;
	height:400px;
	width:100%;
}

/*********About********/

#about{	
	position:relative;
}
#about-nav-home{
	position:absolute;
	left:100px;
	top:-10px;
}

#about-nav-services{
	position:relative;
	left:500px;
	top:10px;
}

.about-heading{
	margin:100px 0 40px 312px;
	text-align:left;
}

.about-block .column-one{
	float:left;
	width:312px;
}

.about-block .column-two{
	margin:40px 0 40px 312px;
	
}

.about-block .column-one img,.about-block .column-two img{
	margin:20px 80px;
}

.about-block .column-two p{
	
	font-size:15px;
	line-height:23px;
}

ul.awesome-li{
	list-style-type:none;
	list-style-position:outside;
	list-style-image:none;
	margin:30px 0 30px 10px;
}

ul.awesome-li li{
	padding:5px 0 8px 40px;
	background:transparent url('../images/tick-trans.png') no-repeat scroll 0 center;
}

/********Services******/

#services{
	position:relative;
	margin-left:45px;
}

.services-heading{
	margin:100px 0 40px 0;
}

#services-nav-whoami{
	position:absolute;
	right:100px;
	top:-10px;
}

.services-block .column-one{
	margin:25px 335px 25px 0;
}

.services-block .column-two{
	float:right;
	width:300px;
	
}

.services-block .column-two img{
	margin:20px 80px;
}


.services-block .column-one p{
	font-size:15px;
	line-height:23px;
}

#services-nav{
	position:relative;
	width:300px;
	margin:50px auto;
	overflow:hidden;
}

#services-nav-work{
	float:left;
}

#services-nav-contact{
	float:right;
}

/*********Work********/

#work{
	position:relative;
}

.work-heading{
	margin:100px 0 40px 0;
}

#work-nav-services{
	position:absolute;
	right:200px;
	top:-10px;
}


#work-nav-contact{
	display:block;
	width:300px;
	margin:50px auto;
	overflow:visible;
}


/*******Slide Show*******/

#slideshow{
	position:relative;
}

#slideshow #slidesContainer {
  margin:0 auto;
  width:770px;
  height:250px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:750px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:250px;
}

a.button-launch-website{
	display:block;	
	margin:20px auto;
	text-indent:-9999px;
	background-image:url('../images/btn_launch_website-trans.png');
	position:relative;
	width:157px;
	height:24px;
	overflow:hidden;
} 

.slide-block{
	width:240px;
	float:left;
	margin:8px;
}

.slide-block img{
	border:8px #111 solid;
}

/*****Slide Controls*****/

.control {
  display:block;
  width:36px;
  height:250px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}

#leftControl {
  top:60px;
  left:20px;
  background:transparent url('../images/left_arrow-trans.png') no-repeat 0 0;
}

#rightControl {
  top:60px;
  right:20px;
  background:transparent url('../images/right_arrow-trans.png') no-repeat 0 0;
}

/*********Contact********/

#contact-information{
	float:right;
	width:435px;
	margin:20px;
}

#contact-information .subtitle{
	margin-bottom:50px;
	margin-top:30px;
}

.contact-block{
	overflow:hidden;
	margin:30px 0;
}

.contact-block img{
	float:left;
}

.contact-block span{
	margin-left:90px;
	font-size:18px;
	display:block;
}


#social-networks{
	margin-top:40px;
	overflow:hidden;
}

#social-networks a{
	float:left;
	display:block;
	margin:10px 30px;
}

#get-in-touch{
	margin-right:550px;
	font-size:18px;
	line-height:28px;
}

#get-in-touch p{
	margin-top: 30px;
}


#contact-form label{
	float:left;
	display:block;
	width:100px;
}

#contact-form .text-field{
	display:block;
	border:none;
	width:267px;
	height:27px;	
	background-color:#eee;
	border:3px silver solid;
	font-size:18px;
	padding:3px;
	font-family:inherit;
	color:#222;
	float:left;
}

#contact-form .text-field:focus{
	border:3px black solid;
}

#contact-form input.text-field{
	height:27px;
	/* background:transparent url('../images/input_text_box.jpg') no-repeat scroll 0 0; */
}

#contact-form textarea.text-field{
	height:190px;
	/* background:transparent url('../images/input_text_area.jpg') no-repeat scroll 0 0; */
	overflow:auto;
}

#contact-form li{
	margin:20px 0;
	overflow:hidden;
}

#contact-form ul{
	list-style-type:none;
	list-style-position:outside;
	list-style-image:none;
}

#contact-form .send{
	border:none;
	background:transparent url('../images/btn_send-trans.png') no-repeat scroll 0 0;
	width:157px;
	height:24px;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	margin:	0px auto;
	border:none;
	font-size: 0px;
	display:block;
	line-height: 0px;
	
}

#contact-nav-home{
	display:block;
	width:300px;
	margin:50px auto;
	overflow:visible;
}

#success{
	color:#000;
	font-weight:bold;
	display:none;
}

#contact-form li.error{
	display:none;
	text-align:right;
	padding-right:30px;
	margin:10px 0;
	font-size:12px;
	color:#000;
}

/*********Footer********/

#footer{
	background:url('../images/footer_copyright-trans.png') no-repeat;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	height:29px;
	position:fixed;
	bottom:0;
	left:0;
	width:196px;
	z-index:999;
}

#footer span{
	display:block;
	text-indent:-9999px;
	font-size:1%;
}

/************************
*****Common Classes******
************************/

.subtitle{
	font-size:30px;
	color:#2e2e2e;
	margin:30px 0;
	line-height:1.5em;
}

.title{
	font-size:36px;
	color:#2e2e2e;
	line-height:1.5em;
}

.center{
	width:950px;
	margin:0 auto;
	background-color:transparent;
	position:relative;
}

.left{
	float:left;
}

.right{
	float:right;
}

.border{
	border:1px #aaa solid;
	padding:2px;
}
