/* LOCKED */
.tree-default .locked li a { color:gray; }
/* DOTS */
.tree-default ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==); _background-image:url("dot_for_ie.gif"); *background-image:url("dot_for_ie.gif"); }
.tree-default li { background-position:-64px -16px; background-repeat:no-repeat; background-image:url("icons.png"); overflow-x: hidden; }
/* NO DOTS */
.tree-default .no_dots, .tree-default .no_dots ul { background:transparent; }
.tree-default .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-default li.open { background:url("icons.png") -32px -48px no-repeat; }
.tree-default li.closed, #jstree-dragged.tree-default li li.open { background:url("icons.png") -48px -32px no-repeat; }
#jstree-marker { background-image:url("icons.png"); }
/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-default li a,.tree-default li span { height: 15px;}
.tree-default li li:nth-child(even) { background: url("icons.png") -64px -16px no-repeat #fff ; overflow-x: hidden; }
.tree-default li li:nth-child(odd) { background: url("icons.png") -64px -16px no-repeat #eee ; overflow-x: hidden; }
.tree-default li li li:nth-child(even) { background: url("icons.png") -64px -16px no-repeat #fff ; overflow-x: hidden; }
.tree-default li li li:nth-child(odd) { background: url("icons.png") -64px -16px no-repeat #eee ; overflow-x: hidden; }
.tree-default li li li li:nth-child(even) { background: url("icons.png") -64px -16px no-repeat #fff ; overflow-x: hidden; }
.tree-default li li li li:nth-child(odd) { background: url("icons.png") -64px -16px no-repeat #eee ; overflow-x: hidden; }
.leaf:hover { background: #7affff !important; }
.closed:hover { background: url("icons.png") -48px -32px no-repeat #7affff !important;}
.leaf:hover a { text-decoration: underline; }
.tree-default li a.clicked, .tree-default li a.clicked:hover, .tree-default li span.clicked { background: #00bfff; }
.tree-default li.clicked { background: #00bfff !important; }
.tree-default li.closed.clicked { background: url("icons.png") -48px -32px no-repeat #00bfff !important;}
.tree-default li.open.clicked { background: url("icons.png") -32px -48px no-repeat #00bfff !important;}
/* ICONS */
.tree-default ins { background-image:url("icons.png"); background-position:0 0; background-repeat:no-repeat; vertical-align: 20%;}
.tree-default ul li a.loading ins { background-image:url("throbber.gif") !important; background-position:0 0 !important; } /* UL is added to make selector stronger */
.tree-default li a ins.forbidden { background-position:-16px -16px; }
.tree-default .locked li a ins { background-position:0 -48px; }
.tree-default li span ins { background-position:-16px 0; }
#jstree-dragged.tree-default ins { background:url("icons.png") -16px -32px no-repeat; }
#jstree-dragged.tree-default ins.forbidden { background:url("icons.png") -16px -16px no-repeat; }

/* CONTEXT MENU */
.tree-default-context a ins { background-image:url("icons.png"); background-repeat:no-repeat; background-position:-64px -64px; }
.tree-default-context a ins.create { background-position:0 -16px; }
.tree-default-context a ins.rename { background-position:-16px 0px; }
.tree-default-context a ins.remove { background-position:0 -32px; }
.demo { font-size: 12px; }
