/*
******* Folders *******
*/

.folder{
  margin: 0 48px 24px;
}

.subFolderContents > .folder {
  margin-top: 24px;
  margin-left: 0;
  margin-right: 0;
}

.subFolderContents .list{
  padding-left: 24px;
}

.folderContainer {
  color: #4D5E6E;
  font-size: 15px;
  position: relative;
  line-height: 36px;
  border-bottom: 1px solid #D2D4D5;
}

.itemContentPadding {
  padding: 0 50px;
}

.folder.dragTarget > .folderContainer {
  border-bottom: 2px solid red;
  margin-bottom: -1px;
}

.folder.dragTarget > .contents > .itemContents {
  background-color: #e8e8e8;
}

.folderLabel  {
  height: 38px;
  padding-right: 24px;
  display: inline-block;
  vertical-align: top;
  background-image: url('images/vault_4.0/Arrow_Open.png');
  background-position: right 6px center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.folder.closed > .folderContainer > .folderLabel,
.folderContainer.closed > .folderLabel {
  background-image: url('images/vault_4.0/Arrow_Closed.png');
}

.folder.closed > .contents {
  display: none;
}

.folderContainer.tab1 {
  padding-left: 30px;
}

.folderContainer.tab2 {
  padding-left: 60px;
}

.folderContainer.tab3 {
  padding-left: 90px;
}

.folderContainer.tab4 {
  padding-left: 120px;
}

.folderContainer.tab5 {
  padding-left: 150px;
}

.folderContainer.tab6 {
  padding-left: 180px;
}

.folderContainer.tab7 {
  padding-left: 210px;
}

.folderContainer.tab8 {
  padding-left: 240px;
}

.folderContainer.tab9 {
  padding-left: 270px;
}

.folderContainer.tab10 {
  padding-left: 300px;
}

.pendingFolder {
  color: #d32d27;
}

.declinedFolder {
  color: #3f2c2c;
}

.acceptedFolder {
  color: #39b54a;
}

.folderOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 12px;
}

.folderOverlay.center {
  text-align: center;
}

.folderOverlay.right {
  text-align: right;
}

.sharedFolderLabel {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 19px;
  font-size: 12px;
}

#sharedFolderMenu .addButton{
  margin: 0;
}

@media screen and (min-width: 1100px) {
  .sharedFolderLabel {
    margin-right: 150px;
  }
}

/*
******* Tiles *******
*/

.tile {
  box-shadow: 0 1px 2px RGBA(0,24,48,0.1);
  display: inline-block;
  background-color: #FFF;
  margin: 15px 0 15px 15px;
  position: relative;
  vertical-align: top;
  width: 270px;
  height: 130px;
}

.tile .listCheckboxContainer {
  display: none;
}

.tile.selected {
  outline: 2px solid #D22D27;
}

.itemCheckbox {
  position: absolute;
  top: 0;
}

.tile .itemCheckbox {
  height: 15px;
  width: 15px;
  border: 1px solid rgba(77, 94, 110, .8);
  border-radius: 2px;
  right: 0;
  margin: 4px 4px 0 0;
}

.tile.note .itemCheckbox {
  border-color: #FFF;
}

.tile .itemCheckbox:hover {
  background-color: #6D7074;
}

.tile .itemIcon {
  width: 100%;
  height: 78px;
}

.itemIcon.smallIcon {
  background-image: url('images/vault_4.0/Generic_Grid_View.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.itemIconOverlay {
  background-color: rgba(77, 94, 110, .4);
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.itemDivider{
  border-top: 1px solid #E2E4E6;
  margin: -1px 12px 0;
}

.tile.note .itemIconOverlay,
.list.note .itemIconOverlay,
.tile.formFill .itemIconOverlay,
.list.formFill .itemIconOverlay {
  background-color: rgba(80, 83, 86, .8);
}

.launchButton {
  border: 1px solid #DFE2E6;
  border-radius: 4px;
  color: #FFF;
  background-color: rgba(77, 94, 110, .9);
  cursor: pointer;
  display: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.tile .launchButton {
  width: 190px;
}

.launchButton:hover {
  background-color: rgba(77, 94, 110, 1);
}

.tile:hover .itemIconOverlay,
.tile.focus .itemIconOverlay,
.tile.selected .itemIconOverlay,
.list.dialogItem:hover .itemIconOverlay,
.list.dialogItem.focus .itemIconOverlay,
.list.dialogItem.selected .itemIconOverlay {
  display: block;
}

.tile:hover .launchButton,
.tile.focus .launchButton {
  display: inline-block;
}

.tile:hover .itemButtonCell,
.tile.focus .itemButtonCell,
.list:hover .itemButtonCell,
.list.focus .itemButtonCell {
  display: table-cell;
}

.itemInfoText, .itemHoverInfo {
  display: table-cell;
  vertical-align: middle;
}

.itemInfoText{
  position: relative;
}

.itemHoverInfo {
  position: relative;
  right: 100px;
  height: 100%;
  font-size: 14px;
  display: none;
  vertical-align: middle;
  margin-right: 40px;
  text-align: right;
  padding-right: 24px;
}

.tile .itemInfoText.showLarge {
  display: none;
}

.itemInfoTable {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.tile .itemInfo{
  position: relative;
  height: 50px;
}

.itemInfo {
  margin: 0 10px;
}

.name {
  font-size: 15px;
  font-weight: 600;
}

.name,
.infoLabel {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
******* List *******
*/

.list {
  height: 60px;
  min-width: 400px;
  position: relative;
  background: #FFF;
  margin-bottom: 2px;
}

.list .itemWrapper{
  display: block;
  height: 100%;
  position: relative;
}

.list .itemDivider{
  display: none;
}

/* Fixed widths defined here */
.listCheckboxContainer {
  width: 55px;
}

.list .itemIcon {
  width: 150px;
}

.list .itemInfo {
  position: absolute;
  left: 215px;
  top: 0;
  bottom: 0;
  right: 0;
}

.list.noIcon .itemInfo,
.list.dialogItem.noIcon .itemInfo,
.list.dialogItem.compact.noIcon .itemInfo {
  left: 0;
}

.emailInfo {
  font-size: 14px;
}

.list.minimized {
  height: 40px;
}

.listCheckboxContainer {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.list .launchButton {
  width: 110px;
  height: 34px;
  line-height: 34px;
}

.list:hover,
.list.focus,
.list.selected {
  color: #FFF;
  background-color: rgba(77, 94, 110, .4);
}

.list:hover .itemIcon,
.list.focus .itemIcon,
.list.selected .itemIcon {
  background-color: #FFF;
}

.list:hover .launchButton,
.list.focus .launchButton {
  display: inline-block;
}

.list .itemIconOverlay {
  display: block;
  visibility: hidden;
  background-color: rgba(77, 94, 110, .44)
}

.list.identityItem .itemIconOverlay {
  display: none;
  visibility: visible;
}

.list:hover .itemIconOverlay,
.list.focus .itemIconOverlay,
.list.selected .itemIconOverlay {
  visibility: visible;
}

.list .itemCheckbox {
  visibility: visible;
  border: 1px solid #4D5E6E;
  border-radius: 4px;
  height: 15px;
  width: 15px;
  left: -37px;
  bottom: 0;
  margin: auto;
}

.itemCheckbox:hover {
  background-color: #6D7074;
}

.tile.selected  .itemCheckbox, .list.selected  .itemCheckbox {
  border: none;
  height: 16px;
  width: 16px;
  background-image: url('images/vault_4.0/Check_Modal.png');
}

.list .itemIcon {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  border: none;
}

.list .itemIcon.smallIcon {
  background-image: url('images/vault_4.0/Generic_List_View.png');
}

.list .itemIcon .bigIcon {
  height: 55%;
}

/*
******* Compact View ******
*/

.compact .launchButton {
  height: 30px;
  line-height: 30px;
  width: 106px;
}

.compact .itemIcon.smallIcon {
  background-size: auto 28px;
}

.tile.compact {
  height: 86px;
  width: 180px;
}

.tile.compact .itemIcon {
  height: 44px;
}

.tile.compact .bigIcon {
  height: 28px;
}

.tile.compact .itemInfo {
  height: 42px;
}

.list.compact {
  height: 40px;
}

.list.compact .bigIcon {
  height: 21px;
}

.folder.compact {
  margin-bottom: 5px;
}

.subFolderContents > .folder.compact {
  margin-top: 5px;
}

/*
******* Dialog List Item *******
*/

.dialogItemContainer {
  margin-top: 20px;
}

.dialogItemContainer.noSelect .itemCheckbox {
  display: none;
}

.list.dialogItem {
  min-width: 0;
}

.list.dialogItem .itemIcon {
  background-image: none;
  width: 70px;
}

.list.dialogItem .itemInfo {
  left: 75px;
  overflow: hidden;
}

.list.dialogItem .itemInfoText.showLarge {
  display: none;
}

.list.dialogItem .launchButton,
.list.dialogItem.noItemButtons .itemButtonCell,
.list.dialogItem .listCheckboxContainer {
  display: none;
}

.list.dialogItem .bigIcon {
  height: 25%;
}

.list.dialogItem .itemCheckbox {
  left: 4px;
  top: 4px;
  bottom: auto;
  margin: 0;
  height: 11px;
  width: 11px;
  visibility: inherit;
}

.list.dialogItem.selected .itemCheckbox {
  background-image: url('images/vault_4.0/Check.png');
  height: 12px;
  width: 12px;
}

.folder.dialogItemGroup {
  margin: 0;
}

.folder.dialogItemGroup .sharedFolderLabel {
  display: none;
}

.folder.dialogItemGroup > .folderContainer > .folderLabel {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
}

/*
******* Compact Dialog Item ******
*/

.list.dialogItem.compact .bigIcon {
  height: 14px;
}

.list.dialogItem.compact .itemCheckbox {
  left: -16px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.list.dialogItem.compact .itemIcon {
  width: 56px;
}

.list.dialogItem.compact .itemInfo {
  left: 56px;
}

.list.dialogItem.compact .itemWrapper {
  margin-left: 20px;
}

.list.dialogItem.compact.noIcon .itemWrapper {
  margin-left: 0;
}

/*
******* Vault Item Locked Style ******
*/

.itemLocked {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, .7);
  background-image: url('images/vault_4.0/Loading.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tile.locked .itemButtonCell,
.tile.locked .launchButton,
.list.locked .itemButtonCell,
.list.locked .launchButton {
  display: none;
}


/*
******* Form Fill Styling ******
*/

.formFill.ccInfo .itemIcon {
  display: table;
}

.formFill.ccInfo.list .itemIcon {
  display: inline-table;
}

.formFill.ccInfo .noteFormFillIcon {
  display: table-cell;
  position: static;
  vertical-align: middle;
  text-align: right;
  color: #FFF;
}

.formFill.ccInfo.dialogItem .noteFormFillIcon {
  text-align: center;
}

.formFill.ccInfo .noteFormFillIcon > div {
  position: relative;
  margin: 0 10px;
}

.formFill.ccInfo.list .noteFormFillIcon > div {
  margin: 0 5px;
}

.formFill.ccInfo .bigIcon {
  position: static;
  vertical-align: top;
}

.formFill.list .bigIcon {
  height: 26px;
}

.ccNum, .ccExp {
  position: absolute;
}

.formFill.dialogItem.ccInfo .ccNum,
.formFill.dialogItem.ccInfo .ccExp,
.formFill.dialogItem.ccInfo .infoLabel {
  display: none;
}

.compact .ccNum,
.list .ccNum,
.compact .ccExp,
.list .ccExp {
  font-size: 12px;
}

.ccNum {
  top: 0;
}

.ccExp {
  bottom: 0;
}
