#weakPasswordDialog {
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#weakPasswordDialogDisableSite,
#weakPasswordDialogDisableAll {
  font-size: 12px;
  cursor: pointer;
}

#weakPasswordDialogDisableSite {
  margin-right: 20px;
}

#weakPasswordDialogDisableSite:hover,
#weakPasswordDialogDisableAll:hover {
  text-decoration: underline;
}

#weakPasswordDialogDescription {
  margin-bottom: 20px;
}
